# Specific to this repo
_drafts/
_site/
.jekyll-cache/
.sass-cache/
.vscode/*
*.code-workspace
*.css.map
*.db
*.env
*.ignore.*
*.jekyll-metadata
*.sass.map
*.scss.map
*.sublime-project
*.sublime-workspace
assets/img/original/
Gemfile
Gemfile.lock
jekyll.bat
tempCodeRunnerFile.*

marketplace
