# 
# Use directory-specific .gitignore files
# when dealing with files specific to that
# directory.
#

_drafts/
_site/
.jekyll-cache/
.sass-cache/
.vscode/
*.code-workspace
*.css.map
*.db
*.env
*.ignore.*
*.jekyll-metadata
*.sass.map
*.scss.map
*.sublime-project
*.sublime-workspace
*.swp
Gemfile
Gemfile.lock
jekyll.bat
tempCodeRunnerFile.*
