# Specific to this repo
*.code-workspace
*.css.map
*.db
*.ignore.*
*.jekyll-metadata
*.sass.map
*.scss.map
*.sublime-project
*.sublime-workspace
.jekyll-cache/
.sass-cache/
.vscode/*
Gemfile
Gemfile.lock
_site/
assets/img/original/
blog/
jekyll.bat