---
layout: default
menu: main
order: 2
permalink: /blog
title: Blog
type: one-box fade-in post
---
<div class="skip-target" id="maincontent"></div>

<article>
	{% for post in site.posts limit:1 %}
		<a href="{{ post.url }}" onclick="fadeOut();"><h1 style="margin: 0;">{{ post.title }}</h1></a>
		<em>by</em> <strong>{{ post.author }}</strong>, {{ post.date | date: "%d %B %Y" }}
		<br>
		{{ post.content }}
	{% endfor %}
</article>

<nav>
	<h2>All Posts</h2>
	<ul>
		{% for post in site.posts %}    
			<li>
				<span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ post.url }}" onclick="fadeOut();">{{ post.title }}</a>, <em>{{ post.category }}</em>
			</li>
		{% endfor %}
	</ul>
</nav>

{% include photoswipe.html %}
