---
layout: default
title: Blog
permalink: /blog
menu: main
order: 2
---
<main class="one-box fade-in post" data-viewport="{{ page.target }}">
	<article>
		{% for post in site.posts limit:1 %}
			<div class="skip-target"><a id="maincontent">-</a></div>
			<a href="{{ post.url }}" onclick="fadeOut();"><h2 style="margin: 0;">{{ post.title }}</h2></a>
			<em>by</em> <strong>{{ post.author }}</strong>, {{ post.date | date: "%d %B %Y" }}
			<br>
			{{ post.content }}
		{% endfor %}
	</article>
	<h2>All Posts</h2>
	<ul>
		{% for post in site.posts %}    
			<li>
				<span>{{ post.date | date: "%B %e, %Y" }}</span> &raquo; <a href="{{ post.url }}" onclick="fadeOut();">{{ post.title }}</a>, <em>{{ post.category }}</em></li>
		{% endfor %}
	</ul>
</main>
{% include photoswipe.html %}