---
layout: defaultnoheader
title: Home
visible: 1
published: false
---
<header>
{% include nav.html %}
	<div class="bodyBG">
		<img class="aurora left"  src="assets/img/aurora1b.png" alt="" role="presentation"/>
		<img class="aurora right" src="assets/img/aurora2b.png" alt="" role="presentation"/>
		<img class="aurora left2" src="assets/img/aurora3b.png" alt="" role="presentation"/>
	</div>
</header>

<section class="bigherosix">
	<h1 class="herotitle">Start9</h1>
	<h2 class="herodesc">An extensible, customizable shell supplement for Windows.</h2>
	<div class="arrow"></div>
</section>

<div class="gridBody">

	<main class="fadeinleft"  data-viewport="{{ page.target }}">
		<article>
meme
		</article>
	</main>
		<!--
		<section id="FAQ" class="tabContent">
			<h2>FAQ</h2>
			<div class="q">Question?</div><div class="a">Answer.</div> <br>
			<div class="q">Question?</div><div class="a">Answer.</div> <br>
			<div class="q">Question?</div><div class="a">Answer.</div> <br>
		</section>
		-->
		<!--
	{% include side.html %}
-->
</div>