---
layout: defaultnoheader
title: Marketplace
visible: 0
sitemap: false
---
<header>
{% include nav.html %}
	<div class="aurora-panel">
		<img class="aurora left"  src="assets/img/aurora1b.png" alt="" role="presentation"/>
		<img class="aurora right" src="assets/img/aurora2b.png" alt="" role="presentation"/>
		<img class="aurora left2" src="assets/img/aurora3b.png" alt="" role="presentation"/>
	</div>
	<div class="marketplace">
		<img data-tilt class="backgroundicon tilts" src="assets/img/marketplaceicon.png" alt="" role="presentation">
		<h1 class="marketplace-title">Module Marketplace</h1>
	</div>
</header>

<section>
	<div class="marketplace marketplace-flex">
		{% for module in site.data.modules %}
		<div class="marketplace flex-item tilts">
			<img class="module-icon" src="assets/img/module-icons/{{ module.image }}.png" alt="" role="presentation"><br>
			<h2 class="header"><a rel="noopener noreferrer" target="_blank" href="{{ module.link }}">{{ module.title }}</a></h2>
			<p class="byline">by: {{ module.author }}</p>
			<p>{{ module.desc }}
			</p><br>
		</div><br>
		{% endfor %}
	</div>
</section>
<link rel="stylesheet" href="{{ "/assets/sitespecific/marketplace.css" | prepend: site.url }}">