
/* Font face */

@font-face {
	font-family: Selawik;
	src: url("WebRes/Fonts/selawk.ttf");
 }
 
* {font-family: "Selawik", "Segoe UI";}

/* --- */


/*Remove padding for mobile*/

@media all and (max-width: 812px) and (min-height: 480px) {
	#ActualContent{min-width: 100%;}
	.HeaderBackground {min-width: 100%;}
}
 
/* --- */


/* --- */

#ActualContent {
	width: 70%;
	margin: 0 auto;
	position: center;
	background-attachment: fixed;
 }

button {
	outline: 0;
	padding: 0.75%;
	margin: 0px;
	background: transparent;
	border: none;
	border-image-slice: 0 7 7 7 fill;
	border-image-width: 0px 7px 7px 7px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	transition: all 0.3s ease;
	border-image-source: url("WebRes/Images/Button_Idle.png");
 }
 
	button:hover {
		transition: all 0.3s ease;
		border-image-source: url("WebRes/Images/Button_Hover.png");
	 }
 
	button:active {border-image-source: url("WebRes/Images/Button_Pressed.png");}
 
br {
	user-select: none;
	pointer-events: none;
 }
 
/* --- */


/* Header */

.HeaderBackground {
	position: fixed;
	padding: 0px;
	margin: -90px 0px 0px 0px;
	height: auto;
	background: transparent;
	vertical-align: top;
	border-image-slice: 0 10 0 10 fill;
	border-image-width: 0px 10px 0px 10px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("WebRes/Images/HeaderBackground.png");
	width: 100%;
 }
 
.TitleSpan {vertical-align: top;}
 
.Title {
	font-size: 24;
	color: white;
	padding: 4px 0px 1px 0px;
	text-align: center;
	user-select: none;
 }
 
.MenuBarSpan {
	vertical-align: bottom;
	display: inline-block;
	align-self: flex-end;
	width: 100%;
 }
 
.MenuBar {
	height: auto;
	padding: auto;
	user-select: none;
	margin: -8px 0px 0px 0px;
	border-image-slice: 20 10 0 10 fill;
	border-image-width: 20px 10px 0px 10px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;
	border-image-source: url("WebRes/Images/MenuBarBackground.png");
 }
 
.MenuBarContent {
	height: 18px;
	display: inline;
	background: transparent;
 }
 
.MenuBarButton {
	transition: all 0.3s ease;
	width: auto;
	height: auto;
	padding: auto;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	background: transparent;
	border-image-source: url("WebRes/Images/MenuBarButton.png");
	color: white;
	transition: all 0.3s ease;
 }
 
	.MenuBarButton:hover {
		transition: all 0.3s ease;
		border-image-slice: 0 7 7 7 fill;
		border-image-width: 0px 7px 7px 7px;
		border-image-outset: 0px 0px 0px 0px;
		border-image-repeat: stretch stretch;
		border-image-source: url("WebRes/Images/MenuBarButton_Hover.png");
	 }
 
	.MenuBarButton:active {border-image-source: url("WebRes/Images/MenuBarButton_Pressed.png");}
 
/* --- */


/* Body */

body {
	margin: 0px;
	padding: 0px;
	background-color: #C8D4E7; /* fallback */
	background: -webkit-linear-gradient(white , #C8D4E7);
	background: -o-linear-gradient(white, #C8D4E7);
	background: -moz-linear-gradient(white, #C8D4E7);
	background: linear-gradient(white , #C8D4E7);
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
 }
 
.BodyBG {
	margin: 80px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	min-height: auto;
	background: transparent;
 }
 
.BodyContianer {
	position: fixed;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	background: transparent;
 }
 
.BodyBackground {
	width: 100%;
	height: auto;
	background: white;
	background: -webkit-linear-gradient(white , #C8D4E7);
	background: -o-linear-gradient(white, #C8D4E7);
	background: -moz-linear-gradient(white, #C8D4E7);
	background: linear-gradient(white , #C8D4E7);
 }
 
.BodyContent {
	vertical-align: top;
	padding: 0px;
	margin: 0px 0px 0px 0px;
 }
 
/* --- */


/* --- */

.TableHeader {font-size: 20px;}
 
.TableColumn {
	width: 80%;
	padding: 0px 10px 10px 10px;
	vertical-align: top;
 }
 
.DownloadHeader {margin: 5px 0px 0px 0px;}
 
.Header {
	user-select: none;
	pointer-events: none;
 }
 
footer {
	color: black;
	background: rgba(200, 212, 231, .90);
	vertical-align: bottom;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 10px;
	text-align: center;
 }
 
/* --- */