/* Cursors (why not lol) */
.cursor  + .def			{cursor:url("cur/def.cur"), 			   auto; }
.cursor  + .ew-resize	{cursor:url("cur/ew-resize.cur"), 	  ew-resize; }
.cursor  + .help		{cursor:url("cur/help.cur"), 			   help; }
.cursor  + .nesw-resize {cursor:url("cur/nesw-resize.cur"), nesw-resize; }
.cursor  + .disabled	{cursor:url("cur/not-allowed.cur"), not-allowed; }
.cursor  + .n-resize	{cursor:url("cur/n-resize.cur"), 	   n-resize; }
.cursor  + .ns-resize	{cursor:url("cur/ns-resize.cur"), 	  ns-resize; }
.cursor  + .nwse-resize {cursor:url("cur/nwse-resize.cur"), nwse-resize; }
.cursor  + .pointer		{cursor:url("cur/pointer.cur"), 		pointer; }
.cursor  + .text		{cursor:url("cur/text.cur"), 			   text; }
.cursor  + .move		{cursor:url("cur/move.cur"), 			   move; }
/* --- */

/* Radio and Checkboxes */
input[type=checkbox] { display: none; }

input[type=checkbox] + label {
	-webkit-transition: all 0.75s ease;
		 -o-transition: all 0.75s ease;
			transition: all 0.75s ease;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 1 1 1 1 fill;
	border-image-source: url("img/checkbox.png");
	border-image-width: 0.063rem 0.063rem 0.063rem 0.063rem;
	display: inline-block;
	height: 1rem;
	padding: 0;
	width: 1rem;
}

input[type=checkbox]:checked + label { border-image-source: url("img/checkboxChecked.png"); }

input[type=checkbox]:hover + label {
	border-image-source: url("img/checkboxHover.png");
	-webkit-transition: all 0.125s ease;
		 -o-transition: all 0.125s ease;
			transition: all 0.125s ease;
}


input[type=checkbox]:hover:checked + label { border-image-source: url("img/checkboxCheckedHover.png"); }

input[type=radio] { display: none; }

input[type=radio] + label {
	-webkit-transition: all 0.75s ease;
		 -o-transition: all 0.75s ease;
			transition: all 0.75s ease;
	border-image-outset: 0 0 0 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 0 1 1 1 fill;
	border-image-source: url("img/checkbox.png");
	border-image-width: 0 0.063rem 0.063rem 0.063rem;
	display: inline-block;
	height: 1rem;
	padding: 0;
	width: 1rem;
}

input[type=radio]:checked + label { border-image-source: url("img/radioChecked.png"); }

input[type=radio]:hover + label {
	border-image-source: url("img/checkboxHover.png");
	-webkit-transition: all 0.125s ease;
		 -o-transition: all 0.125s ease;
			transition: all 0.125s ease;
}


input[type=radio]:hover:checked + label { border-image-source: url("img/radioCheckedHover.png"); }

/* --- */
