<hr class="invisible">
<footer>
	<div class="footer-flex">
		<div class="logo-group flex-item">
			<a href="{{ site.url }}" class="ignore-jerry-mouse"><span class="vox-only">Home</span></a>
		</div>
		<div class="flex-item">
			<h3>Git Repos</h3>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/start9">start9</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/start9-ui">start9-ui</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/windows-sharp">windows-sharp</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/samples">samples</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/">View all repos&hellip;</a><span class="invisible">&nbsp;</span>
		</div>
		<div class="flex-item">
			<h3>Connect</h3>
			<a rel="noopener noreferrer" target="_blank" href="ircs://chat.freenode.net:6697/startnine">{% include icon.html icon="icon-hashtag" width="1em" height="1em" %} IRC</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://discordapp.com/invite/6cpvxBS">{% include icon.html icon="icon-discord" width="1em" height="1em" %} Discord</a><span class="invisible">&nbsp;</span>
			<a rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine">{% include icon.html icon="icon-github" width="1em" height="1em" %} GitHub</a><span class="invisible">&nbsp;</span>
		</div>
	</div>
	<div class="footer-text">
		<p>
			<a onclick="localStorage.clear();location.reload();" href="#">Clear&nbsp;Theme&nbsp;Preferences</a> | {% github_edit_link "Improve&nbsp;this&nbsp;page" %}
		</p>
	</div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" integrity="sha256-H0TPKZAP4+uKmBpntUUMrKgH4VXBQNDZumun6fvan4w=" crossorigin="anonymous" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js" integrity="sha256-+xblFIDxgSu6OfR6TdLhVHZzVrhw8eXiVk8PRi9ACY8=" crossorigin="anonymous" defer></script>
<script> window.addEventListener('DOMContentLoaded', function(){ Barba.Prefetch.init(); }); // init barbra </script>
