<footer>
	<div class="mother-of-all-links">
		<div class="the-group-with-the-logo">
			<a href="{{ site.url }}" aria-hidden="true"></a>
		</div>
		<div>
			Git Repos
			<a href="https://github.com/StartNine/start9">Start9</a>
			<a href="https://github.com/StartNine/start9-api">Start9 API</a>
			<a href="https://github.com/StartNine/start9-ui">Start9 UI</a>
			<a href="https://github.com/StartNine/start9-skindesigner">Start9 Skin Designer</a>
			<a href="https://github.com/StartNine/">View all Start9 repositories&hellip;</a>
		</div>
		<div>
			Connect
			<span class="connect-buttons">
				<a href="ircs://chat.freenode.net:6697/startnine"><i class="fas fa-hashtag" aria-hidden="true"></i><span class="vox-only">IRC</span></a>
				<a href="https://discordapp.com/invite/6cpvxBS"><i class="fab fa-discord" aria-hidden="true"></i><span class="vox-only">Discord Invite</span></a>
				<a href="https://github.com/StartNine"><i class="fab fa-github" aria-hidden="true"></i><span class="vox-only">GitHub</span></a>
			</span>
		</div>
	</div>
	<div class="footer-text">
		<p>Hope you have cookies enabled! We use session cookies to save theme data.  <a href="javascript:(function(){document.cookie.split(&quot;;&quot;).forEach(function(c) { document.cookie = c.replace(/^ +/, &quot;&quot;).replace(/=.*/, &quot;=;expires=&quot; + new Date().toUTCString() + &quot;;path=/&quot;); }); location.reload();})();">Clear Cookies</a></p>   
	</div>
</footer>
<!--
<noscript id="deferred-styles">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,900"/>
</noscript>
<script>
	var loadDeferredStyles = function() {
		var addStylesNode = document.getElementById("deferred-styles");
		var replacement = document.createElement("div");
			replacement.innerHTML = addStylesNode.textContent;
			document.body.appendChild(replacement)
			addStylesNode.parentElement.removeChild(addStylesNode);
		};
		var raf = window.requestAnimationFrame;
		if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
		else window.addEventListener('load', loadDeferredStyles);
</script>
-->