<footer>
	<div class="footer-flex">
		<div class="logo-group">
			<a href="{{ site.url }}" aria-hidden="true"><span class="vox-only">Home</span></a>
		</div>
		<div>
			<h3>Git Repos</h3>
			<a href="https://github.com/StartNine/start9">start9</a>
			<a href="https://github.com/StartNine/start9-api">start9-api</a>
			<a href="https://github.com/StartNine/start9-ui">starti-ui</a>
			<a href="https://github.com/StartNine/windows-sharp">windows-sharp</a>
			<a href="https://github.com/StartNine/">View all repos&hellip;</a>
		</div>
		<div>
			<h3>Connect</h3>
			<a href="ircs://chat.freenode.net:6697/startnine"><i class="fas fa-hashtag" aria-hidden="true"></i> IRC</a>
			<a href="https://discordapp.com/invite/6cpvxBS"><i class="fab fa-discord" aria-hidden="true"></i> Discord</a>
			<a href="https://github.com/StartNine"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a>
		</div>
	</div>
	<div class="footer-text">
		<p>Hope you have cookies enabled! We use session cookies to save your theme choice. <a href="javascript:(function(){document.cookie.split(&quot;;&quot;).forEach(function(c) { document.cookie = c.replace(/^ +/, &quot;&quot;).replace(/=.*/, &quot;=;expires=&quot; + new Date().toUTCString() + &quot;;path=/&quot;); }); location.reload();})();">Clear Cookies</a></p>
	</div>
</footer>
