<a href="#maincontent" class="skip-to-content ignore-jerry-mouse">Skip to Content</a>
<div class="header">
	<div class="title">
		<div class="burger-button" aria-label="menu"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
		<p class="title-text">
			{% if page.layout == 'post' %}
				Post
			{% else %}
				{{ page.title }}
			{% endif %}
		</p>
		<span class="caption-menu">
			<a class="caption-button js-text-adjust ignore-jerry-mouse" href="javascript:void(0);" title="Toggle text size">
				<b aria-hidden="true">a</b>
				<span class="vox-only">Toggle text size</span>
			</a>

			<a class="caption-button js-contrast ignore-jerry-mouse" href="javascript:void(0);" title="Toggle contrast">
				<svg class="icon"><use href="{{ "/assets/symbol-defs.svg" | prepend: site.url }}#icon-contrast">/></svg>
				<span class="vox-only">Toggle contrast</span>
			</a>
		</span>
	</div>
	<nav class="menu-bar">
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% if node.menu == 'main' %}
				<a class="delaylink button {% if page.order == node.order %}current{% endif %}" onclick="
				{% if page.order < node.order %}fadeOutRight();
				{% elsif page.order > node.order %}fadeOutLeft();
				{% else %}fadeOut();{% endif %}
				"
				href="{{ node.url | prepend: node.baseurl }}">
				{{ node.title }}
				</a>
			{% endif %}
		{% endfor %}
	</nav>
</div>
<div class="header-space"></div>

	<div class="github"></div><div class="white github"></div>
	<div class="discord"></div>
