<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Start9</title>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="{{ "/assets/img/icon.png" | prepend: site.url }}"/>
		<meta property="og:site_name" content="Start9"/>
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:image" content="{{ "/assets/img/icon.png" | prepend: site.url }}"/>
		<meta property="og:description" content="Start9: An extensible, customizable, modular shell supplement for Windows."/>
		<meta name="description" content="Start9: An extensible, customizable, modular shell supplement for Windows."/>
		<meta name="twitter:description" content="Start9: An extensible, customizable, modular shell supplement for Windows."/>
		<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
		<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
		<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
		<meta name="theme-color" content="#4d88d5"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="Start9, StartNine, shell, shell replacement, start nine, startnine" />
		<link rel="shortcut icon" href="{{ "/assets/img/icon.png" | prepend: site.url }}"/>
		<meta itemprop="image" content="{{ "/assets/img/icon.png" | prepend: site.url }}"/>
		<meta property="og:image" content="{{ "/assets/img/icon.png" | prepend: site.url }}"/>
		<link rel="manifest" href="{{ "/assets/jasonsmanifest.json" | prepend: site.url }}"/>
		<link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.url }}"/>
		<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" integrity="sha256-H0TPKZAP4+uKmBpntUUMrKgH4VXBQNDZumun6fvan4w=" crossorigin="anonymous" defer></script>
		<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" crossorigin="anonymous" defer></script>
		<script src="{{ "/assets/main.js" | prepend: site.url }}" defer></script>
</head>