<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		{% seo %}
		<meta name="keywords" content="Start9, StartNine, shell, shell replacement, start nine, startnine" />
		<meta itemprop="image" content="{{ "/assets/img/icon.png" | prepend: site.url }}" />
		<meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>

		<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/img/favicon/apple-touch-icon.png" | prepend: site.url }}" />
		<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/img/favicon/favicon-32x32.png" | prepend: site.url }}" />
		<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/img/favicon/favicon-16x16.png" | prepend: site.url }}" />
		<link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}" />
		<link rel="manifest" href="{{ "/assets/jasonsmanifesto.json" | prepend: site.url }}" />
		<meta name="msapplication-TileColor" content="#fffff">
		<meta name="theme-color" content="#4d88d5" />

		{% feed_meta %}

		<link rel="dns-prefetch" href="https://fonts.googleapis.com/" crossorigin="anonymous"/>
		<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com/" crossorigin="anonymous"/>

		<link rel="stylesheet" href="{{ "/assets/style.css" | prepend: site.url }}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,500"" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/barba.js/1.0.0/barba.min.js" integrity="sha256-H0TPKZAP4+uKmBpntUUMrKgH4VXBQNDZumun6fvan4w=" crossorigin="anonymous" defer></script>
		<script src="{{ "/assets/main.js" | prepend: site.url }}" defer></script>
</head>
