<a href="#maincontent" class="skip-to-content">Skip to Content</a>
<a href="javascript:void(0);" class="skip-to-content js-text-adjust">Toggle Page Size</a>
<a href="javascript:void(0);" class="skip-to-content js-contrast">Toggle Contrast</a>
<div class="header">
	<div class="title">
		<div class="burger-button" onclick="burgerButton(this);" aria-label="menu"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
		<p class="title-text">
			{% if page.layout == 'post' %}
				Post
			{% else %}
				{{ page.title }}
			{% endif %}
		</p>
		<span class="caption-menu"> <!-- Tabbing is removed as the same function is handled by line 2-3 for tabs -->
			<a class="caption-button js-text-adjust" href="javascript:void(0);" tabindex="-1">
				<b aria-hidden="true">a</b>
				<span class="vox-only">Toggle text size</span>
			</a>

			<a class="caption-button js-contrast" href="javascript:void(0);" tabindex="-1">
				<i class="fas fa-adjust" aria-hidden="true"></i>
				<span class="vox-only">Increase contrast</span>
			</a>
		</span>
	</div>
	<nav>
		{% assign sorted_pages = site.pages | sort:"order" %}
		{% for node in sorted_pages %}
			{% if node.menu == 'main' %}
				<a class="delaylink button {% if page.order == node.order %}current{% endif %}" onclick="
				{% if page.order < node.order %}fadeOutRight();
				{% elsif page.order > node.order %}fadeOutLeft();
				{% else %}fadeOut();{% endif %}
				"
				href="{{ node.url | prepend: node.baseurl }}">
				{{ node.title }}
				</a>
			{% endif %}
		{% endfor %}
		<a class="disabled button">Community</a>
	</nav>
</div>
<div class="header-space"></div>
<div class="menu-focus" onclick="menuFocus()"></div>

	<div class="github"></div><div class="white github"></div>
	<div class="discord"></div>
