<div class="header-background">
	<a href="#maincontent" class="skip-to-content" tabindex="1">Skip to Content</a>
	<div class="burger-button" onclick="burgerButton(this);" aria-label="menu"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
	<p class="title">
		<span class="title-text">
			{% if page.layout == 'post' %}
				Post
			{% else %}
				{{ page.title }}
			{% endif %}
		</span>
	</p>
	<nav class="menu-bar" id="menu-bar">
		{% for page in site.pages %}
			{% if page.menu == 'main' %}
				<a class="delaylink button" data-target="{{ page.target }}" onclick="    
					{% if page.target < page.target %}fadeOutRight();
					{% elsif page.target > page.target %}fadeOutLeft();
					{% else %}fadeOut();{% endif %}
				" 
				href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }}
				</a> 
			{% endif %}
		{% endfor %}
		<a class="disabled button" href="https://github.com/StartNine/Start9/releases" target="_blank" rel="noopener noreferrer">Downloads</a>
		<a class="disabled button">Community</a>
		<a class="disabled button">FAQ</a>
	</nav>
</div>
<div class="menu-focus" onclick="menuFocus()"></div>

	<div class="github"></div><div class="white github"></div>
	<div class="discord"></div>
