<a href="#maincontent" class="skip-to-content">Skip to Content</a>
<div class="header-background">
	<div class="burger-button" onclick="burgerButton(this);" aria-label="menu"><div class="bar1"></div><div class="bar2"></div><div class="bar3"></div></div>
	<p class="title">
		<span class="title-text">
			{% if page.layout == 'post' %}
				Post
			{% else %}
				{{ page.title }}
			{% endif %}
		</span>
		<span class="caption-menu">
			<a href="ircs://chat.freenode.net:6697/startnine" class="caption-button" title="IRC ( #startnine on freenode )" tabindex="0"><i class="fas fa-hashtag"></i></a>
			<a href="https://discordapp.com/invite/6cpvxBS" class="caption-button" title="Discord Server" tabindex="0"><i class="fab fa-discord"></i></a>
			<a href="https://github.com/StartNine" class="caption-button" title="Github" tabindex="0"><i class="fab fa-github"></i></a>
			<span class="dropdown">
				<a class="caption-button a11y-toggle" title="Accessibility" href="javascript:void(0);"><i class="fas fa-universal-access"></i></a>
				<span class="a11y-menu dropdown-content">
					<a class="caption-button textAdjust" onclick="textNormal()" aria-label="Disable Larger Text" title="Disable Larger Text" href="javascript:void(0);">a</a>
					<a class="caption-button textAdjust" onclick="textLarge()" aria-label="Enable Larger Text" title="Enable Larger Text" href="javascript:void(0);"">A</a>
					<a class="caption-button contrast" title="Toggle High Contrast Mode" href="javascript:void(0);"><i class="fas fa-adjust"></i></a>
				</span>
			</span>
		</span>
	</p>
	<nav class="menu-bar" id="menu-bar">
		{% for page in site.pages %}
			{% if page.menu == 'main' %}
				<a class="delaylink button" data-target="{{ page.target }}" onclick="    
					{% if page.target < page.target %}fadeOutRight();
					{% elsif page.target > page.target %}fadeOutLeft();
					{% else %}fadeOut();{% endif %}
				" 
				href="{{ page.url | prepend: site.baseurl }}">
					{{ page.title }} 
				</a>   
			{% endif %}
		{% endfor %}
		<a class="disabled button" href="https://github.com/StartNine/Start9/releases" target="_blank" rel="noopener noreferrer" tabindex="-1">Downloads</a>
		<a class="disabled button">Community</a>
		<a class="disabled button">FAQ</a>
	</nav>
</div>
<div class="header-space"></div>
<div class="menu-focus" onclick="menuFocus()"></div>

	<div class="github"></div><div class="white github"></div>
	<div class="discord"></div>
