<aside class="side fadeIn">
	<h2>Interested?</h2>      
	<div class="sideObject">
		<p>Please check out our GitHub here:</p>
		<a class="delaylink button" id="gitbutton" rel="noopener noreferrer" target="_blank" href="https://github.com/StartNine/Start9"><i class="fab fa-github"></i> GitHub</a>
	</div>
	<div class="sideObject">
		<p>Also, please join our Discord server here:</p>
		<a class="delaylink button" id="discordbutton" rel="noopener noreferrer" target="_blank" href="https://discordapp.com/invite/6cpvxBS"><i class="fab fa-discord"></i> Discord Server</a>
	</div>
	<noscript>
		<div class="sideObject">
			<p>Please enable JavaScript for the best experience.</p>
		</div>
	</noscript>
</aside>