/*
** Animation
*/
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.fade-in { animation: fade-in .3s ease-in both; }

@keyframes fade-out {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}


.fade-out { animation: fade-out .3s ease-in both; }

@keyframes slideInLeft {
	0%   { transform: translateX(-7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutLeft {
	0%   { transform: translateX(0); }
	100% { transform: translateX(-7em); }
}

@keyframes slideInRight {
	0%   { transform: translateX(7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutRight {
	0%   { transform: translateX(0);}
	100% { transform: translateX(7em); }
}

.fade-out-right, .fade-out-left { animation: fade-out .25s ease-in both; }

.fade-in-left, .fade-in-right { animation: fade-in .25s ease-out both; }

.fade-in-right { animation-name: fade-in, slideInRight; }
.fade-in-left { animation-name: fade-in, slideInLeft; }
.fade-out-right  { animation-name: fade-out, slideOutRight; }
.fade-out-left { animation-name: fade-out, slideOutLeft; }

@media screen and (prefers-reduced-motion: reduce) {
	.fade-out-right, .fade-out-left { animation: fade-out .25s ease-in both; }

	.fade-in-left, .fade-in-right { animation: fade-in .25s ease-out both; }
}
