/*
** Animation
*/
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.fade-in { animation: fade-in .3s ease-in both; }

@keyframes fade-out {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}


.fade-out { animation: fade-out .3s ease-in both; }

@keyframes slideInLeft {
	0%   { transform: translateX(-7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutLeft {
	0%   { transform: translateX(0); }
	100% { transform: translateX(-7em); }
}

@keyframes slideInRight {
	0%   { transform: translateX(7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutRight {
	0%   { transform: translateX(0);}
	100% { transform: translateX(7em); }
}

.fade-out-right, .fade-out-left {
	animation: fade-out .25s ease-in both;
}

.fade-in-left, .fade-in-right {
	animation: fade-in .25s ease-out both;
}

.fade-in-right { animation-name: fade-in, slideInRight; }
.fade-in-left { animation-name: fade-in, slideInLeft; }
.fade-out-right  { animation-name: fade-out, slideOutRight; }
.fade-out-left { animation-name: fade-out, slideOutLeft; }

@media screen and (prefers-reduced-motion: reduce) {
	.fade-out-right, .fade-out-left, .fade-in-left, .fade-in-right {
		animation: initial;
	}
}

// !: Rainbow Scrollbars
// TODO: make this smaller and smoother
@keyframes rainbow {
	0%   { --a-r: 250; --a-g: 000; -a-b: 000; }
	2%   { --a-r: 255; --a-g: 000; -a-b: 000; }
	5%   { --a-r: 275; --a-g: 000; -a-b: 000; }
	8%   { --a-r: 250; --a-g: 000; -a-b: 000; }
	10%  { --a-r: 225; --a-g: 000; -a-b: 000; }
	13%  { --a-r: 200; --a-g: 000; -a-b: 000; }
	16%  { --a-r: 175; --a-g: 000; -a-b: 000; }
	18%  { --a-r: 150; --a-g: 000; -a-b: 000; }
	21%  { --a-r: 125; --a-g: 000; -a-b: 000; }
	24%  { --a-r: 100; --a-g: 025; -a-b: 000; }
	27%  { --a-r: 075; --a-g: 050; -a-b: 000; }
	28%  { --a-r: 050; --a-g: 075; -a-b: 000; }
	32%  { --a-r: 025; --a-g: 100; -a-b: 000; }
	35%  { --a-r: 000; --a-g: 125; -a-b: 000; }
	37%  { --a-r: 000; --a-g: 150; -a-b: 000; }
	43%  { --a-r: 000; --a-g: 175; -a-b: 000; }
	45%  { --a-r: 000; --a-g: 200; -a-b: 000; }
	48%  { --a-r: 000; --a-g: 225; -a-b: 000; }
	51%  { --a-r: 000; --a-g: 255; -a-b: 025; }
	56%  { --a-r: 000; --a-g: 225; -a-b: 050; }
	59%  { --a-r: 000; --a-g: 220; -a-b: 075; }
	62%  { --a-r: 000; --a-g: 175; -a-b: 100; }
	64%  { --a-r: 000; --a-g: 150; -a-b: 125; }
	67%  { --a-r: 000; --a-g: 125; -a-b: 150; }
	70%  { --a-r: 000; --a-g: 100; -a-b: 175; }
	72%  { --a-r: 000; --a-g: 075; -a-b: 200; }
	75%  { --a-r: 000; --a-g: 050; -a-b: 225; }
	78%  { --a-r: 000; --a-g: 025; -a-b: 255; }
	81%  { --a-r: 025; --a-g: 000; -a-b: 225; }
	83%  { --a-r: 050; --a-g: 000; -a-b: 175; }
	86%  { --a-r: 075; --a-g: 000; -a-b: 150; }
	89%  { --a-r: 100; --a-g: 000; -a-b: 125; }
	91%  { --a-r: 125; --a-g: 000; -a-b: 100; }
	94%  { --a-r: 150; --a-g: 000; -a-b: 075; }
	97%  { --a-r: 175; --a-g: 000; -a-b: 050; }
	99%  { --a-r: 200; --a-g: 000; -a-b: 025; }
	100% { --a-r: 225; --a-g: 000; -a-b: 000; }
}

.rainbow {
	animation: rainbow 10s linear infinite;
}