/*
** Animation
*/
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.fade-in { animation: fade-in .3s ease-in both; }

@keyframes fade-out {
	0%   { opacity: 1; }
	100% { opacity: 0; }
}


.fade-out { animation: fade-out .3s ease-in both; }

@keyframes slideInLeft {
	0%   { transform: translateX(-7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutLeft {
	0%   { transform: translateX(0); }
	100% { transform: translateX(-7em); }
}

@keyframes slideInRight {
	0%   { transform: translateX(7em); }
	100% { transform: translateX(0); }
}

@keyframes slideOutRight {
	0%   { transform: translateX(0);}
	100% { transform: translateX(7em); }
}

.fade-out-right, .fade-out-left {
	animation: fade-out .25s ease-in both;
}

.fade-in-left, .fade-in-right {
	animation: fade-in .25s ease-out both;
}

.fade-in-right { animation-name: fade-in, slideInRight; }
.fade-in-left { animation-name: fade-in, slideInLeft; }
.fade-out-right  { animation-name: fade-out, slideOutRight; }
.fade-out-left { animation-name: fade-out, slideOutLeft; }

@media screen and (prefers-reduced-motion: reduce) {
	.fade-out-right, .fade-out-left, .fade-in-left, .fade-in-right {
		animation: initial;
	}
}

// !: Rainbow Scrollbars
// TODO: make this smaller
@keyframes rainbow {
	0%   { --a-r: 000; --a-g: 000; -a-b: 000; }
	2%   { --a-r: 010; --a-g: 000; -a-b: 000; }
	5%   { --a-r: 020; --a-g: 000; -a-b: 000; }
	7%   { --a-r: 030; --a-g: 000; -a-b: 000; }
	10%  { --a-r: 040; --a-g: 000; -a-b: 000; }
	12%  { --a-r: 050; --a-g: 000; -a-b: 000; }
	15%  { --a-r: 060; --a-g: 000; -a-b: 000; }
	17%  { --a-r: 070; --a-g: 000; -a-b: 000; }
	20%  { --a-r: 080; --a-g: 000; -a-b: 000; }
	23%  { --a-r: 090; --a-g: 000; -a-b: 000; }
	25%  { --a-r: 100; --a-g: 010; -a-b: 000; }
	28%  { --a-r: 090; --a-g: 020; -a-b: 000; }
	30%  { --a-r: 080; --a-g: 030; -a-b: 000; }
	33%  { --a-r: 070; --a-g: 040; -a-b: 000; }
	35%  { --a-r: 060; --a-g: 050; -a-b: 000; }
	38%  { --a-r: 050; --a-g: 060; -a-b: 000; }
	40%  { --a-r: 040; --a-g: 070; -a-b: 000; }
	43%  { --a-r: 030; --a-g: 080; -a-b: 000; }
	46%  { --a-r: 020; --a-g: 090; -a-b: 000; }
	51%  { --a-r: 010; --a-g: 100; -a-b: 010; }
	53%  { --a-r: 000; --a-g: 090; -a-b: 020; }
	56%  { --a-r: 000; --a-g: 080; -a-b: 030; }
	58%  { --a-r: 000; --a-g: 070; -a-b: 040; }
	61%  { --a-r: 000; --a-g: 060; -a-b: 050; }
	64%  { --a-r: 000; --a-g: 050; -a-b: 060; }
	66%  { --a-r: 000; --a-g: 040; -a-b: 070; }
	69%  { --a-r: 000; --a-g: 030; -a-b: 080; }
	71%  { --a-r: 000; --a-g: 020; -a-b: 090; }
	74%  { --a-r: 000; --a-g: 010; -a-b: 100; }
	76%  { --a-r: 000; --a-g: 000; -a-b: 090; }
	79%  { --a-r: 000; --a-g: 000; -a-b: 080; }
	81%  { --a-r: 000; --a-g: 000; -a-b: 070; }
	84%  { --a-r: 000; --a-g: 000; -a-b: 060; }
	87%  { --a-r: 000; --a-g: 000; -a-b: 050; }
	89%  { --a-r: 000; --a-g: 000; -a-b: 040; }
	92%  { --a-r: 000; --a-g: 000; -a-b: 030; }
	94%  { --a-r: 000; --a-g: 000; -a-b: 020; }
	97%  { --a-r: 000; --a-g: 000; -a-b: 010; }
	to   { --a-r: 000; --a-g: 000; -a-b: 000; }
}

.rainbow {
	animation: rainbow 10s ease both infinite;
}