/*
** Buttons
*/
a {
	color: #00729E;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.button {
		border-image-repeat: stretch stretch;
		border-image-slice: 2 3 3 3 fill;
		border-image-source: url("img/buttonIdle.png");
		border-image-width: 2px 2px 2px 2px;
		border-style: solid;
		border-width: 0;
		box-shadow: .2rem .2rem .625rem rgba(0, 0, 0, .5);
		color: black;
		display: inline-block;
		font-size: .85rem;
		height: 1.75em;
		line-height: 1.75em;
		padding: .5rem .65rem;
		text-align: center;
		text-decoration: none;
		transition: border-image-source .75s ease, box-shadow .75s ease;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;

		&:hover, &:focus {
			border-image-source: url("img/buttonHover.png");
			transition: border-image-source .125s ease, box-shadow .125s ease;
		}

		&:active {
			border-image-source: url("img/buttonPressed.png");
			box-shadow: none;
		}

		&.disabled {
			border-image-source: url("img/buttonDisabled.png");
			box-shadow: .2rem .2rem .625em rgba(0, 0, 0, .5);
			opacity: 1;
		}
	}
}

/*
** Checkboxes and Radio
*/
input {
	image-rendering: optimizeSpeed;

	&[type="checkbox"] {
		display: none;

		+ label {
			background: url("img/checkbox_idle.svg") no-repeat center;
			background-size: 100% 100%;
			border-image: url("img/checkbox_idle.svg") 2 fill stretch;
			border-image-width: .063rem;
			border-style: solid;
			border-width: 0;
			display: inline-block;
			height: 1rem;
			padding: 0;
			transition: border-image-source .125s ease, background .125s ease;
			user-select: none;
			width: 1rem;
		}

		&:checked + label {
			background: url("img/checkbox_checked_idle.svg") no-repeat center;
			border-image-source: url("img/checkbox_checke_idle.svg");
		}

		&:indeterminate + label {
			background: url("img/checkbox_indeterminate_idle.svg") no-repeat center;
			border-image-source: url("img/checkbox_indeterminate_idle.svg");
		}

		&:hover {
			+ label {
				background: url("img/checkbox_hover.svg") no-repeat center;
				border-image-source: url("img/checkbox_hover.svg");
			}

			&:checked + label {
				background: url("img/checkbox_checked_hover.svg") no-repeat center;
				border-image-source: url("img/checkbox_checked_hover.svg");
			}

			&:indeterminate + label {
				background: url("img/checkbox_indeterminate_hover.svg") no-repeat center;
				border-image-source: url("img/checkbox_indeterminate_hover.svg");
			}
		}
	}

	&[type="radio"] {
		display: none;

		+ label {
			background: url("img/radio-button_idle.svg") no-repeat center;
			background-size: 100% 100% !important; // sass-lint:disable-line no-important
//          border-image: url("img/radio-button_idle.svg") 1 1 1 1 fill stretch;
//          border-image-width: .063rem .063rem .063rem .063rem;
//          border-style: solid;
//          border-width: 0;
			display: inline-block;
			height: 1rem;
			padding: 0;
			transition: border-image-source .125s ease, background .125s ease;
			width: 1rem;
		}

		&:checked + label {
			background: url("img/radio-button_selected_idle.svg") no-repeat center;
//          border-image-source: url("img/radio-button_selected_idle.svg");
		}

		&:hover + label {
			background: url("img/radio-button_hover.svg") no-repeat center;
//          border-image-source: url("img/radio-button_hover.svg");

			&:checked + label {
				background: url("img/radio_button_selected_hover.svg") no-repeat center;
//              border-image-source: url("img/radio_button_selected_hover.svg");
			}
		}
	}
}
