/*
** Content
*/
.one-box {
	bottom: 12rem;
	margin: 0 10%;
	min-height: 100%;
	padding: 0;
	position: relative;
	vertical-align: top;
}

.grid-body {
	align-content: center;
	bottom: 12rem;
	display: grid;
	grid-template-columns: 80% 15%;
	grid-template-rows: 100% 100%;
	margin: 0 10%;
	min-height: 100%;
	padding: 0;
	position: relative;
	vertical-align: top;
}

.side {
	bottom: 1em;
	display: flex;
	flex-direction: column;
	grid-column: 2;
	grid-row: 1;
	padding-left: 1rem;
	position: relative;
	vertical-align: top;

	.sidebar-object {
		bottom: 2rem;
		position: relative;
	}
}

.sidebar-object {
	margin-bottom: 2rem;
	padding: .5rem 0;
	vertical-align: top;
	a.button { margin-top: .25rem; }
	p { margin: .313rem 0 0; }
}

.content {
	grid-column: 1;
	grid-row: 1;
	padding: 0 .625rem;
	vertical-align: top;
	width: 100%;
}
