/*
** Contrast
*/
// sass-lint:disable no-important

.contrast {

	.menu-bar, .menu-bar a.button,  .menu-bar a.button:hover,
	.menu-bar a.button:active,  .menu-bar a.button.disabled,
	a.button,  a.button:hover,  a.button:active, .caption-button,
	input[type="checkbox"] + label,  input[type="radio"] + label {
		background: initial;
		border: initial;
		border-image: none;
	}

	body {
		background: #FAFAFA;
		color: black;
	}

	.waves-ripple {
		background: rgba(255, 255, 255, .2) !important;
	}

	.header-background {
		background: #4D88D5;
		overflow: hidden;
	}

	.bar1, .bar2, .bar3, .change .bar1, .change .bar2, .change .bar3 { box-shadow: initial; }

	a.button {
		background: #26A69A;
		border-radius: .1rem;
		color: white;

		&:hover {
			background: #26A69A;
			filter: brightness(120%);
		}

		&.disabled { background: gray; }
	}

	.menu-bar {
		background: #2E5280;
		border-radius: 0;
		overflow: hidden;

		a.button {
			background: #4378BC;
			border-radius: 0;
			color: white;
			&.disabled { background: none; }
			&:hover, &:active { background: #4378BC; }
		}
	}

	.aurora-panel { visibility: hidden; }

	.caption-button, .caption-button:hover {
		background: white;
		background: rgba(0, 0, 0, .2);
		color: white;
	}

	.burger-button .bar1, .burger-button .bar2, .burger-button .bar3 { background-color: white; }

	.menu-focus.active { background: black; }

	@media screen and (max-width: 37.5rem) {
		.header-background, .menu-bar { overflow: initial; } }
	}
