/*
** Content
*/
.barba-container {
	min-height: calc(100vh - 14rem); // for footer to stay on the bottom.. kind of
}

.one-box, .grid-body {
	align-content: center;
//  margin: 3em 10vw 2em;
	margin: 3em auto;
	max-width: 75em;
	min-height: 100%;
	padding: 0;
	position: relative;
	vertical-align: top;

	img { max-width: 100%; }
}

.one-box { display: block; }

.grid-body {
	display: grid;
	grid-template-areas: "left content content content content right";
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

.side {
	bottom: 1em;
	display: flex;
	flex-direction: column;
	vertical-align: top;

	&.right { grid-area: right; }

	&.left  { grid-area: left; }

	.sidebar-object {
		bottom: 2rem;
		position: relative;

		&.sticky {
			position: sticky;
			top: 3rem;
		}
	}
}

.sidebar-object {
	margin-bottom: 2rem;
	padding: .5rem 0;
	vertical-align: top;
	.button { margin-top: .25rem; }
	p { margin: .313rem 0 0; }
}

.content {
	grid-area: content;
	vertical-align: top;
	width: calc(100% - .5rem); // adds some extra margin
}

}
