/*
** Dark Theme
*/
.dark {
	.menuBar, .menuBar a.button,  .menuBar a.button:hover, 
	.menuBar a.button:active,  .menuBar a.button.disabled, 
	a.button,  a.button:hover,  a.button:active, .captionButton,
	input[type=checkbox] + label,  input[type=radio] + label { 
		background: initial;	
		border: initial;
		border-image: none;
	 }
	
	body {
		background: #303030 linear-gradient(#303030 1%, #212121 50%, #000000 100%);
		color: white;
	}

	p, li { opacity: 0.8; }
	.bar1, .bar2, .bar3 { box-shadow: initial; }
	.bodyBG img { filter: grayscale(100%); }
	.burgerButton { .bar1, .bar2, .bar3 { background-color: white; } }
	.change { .bar1, .bar2, .bar3 { box-shadow: initial; } }
	.logo .image { filter: grayscale(100%); }
	.menuFocus.active { background: black; }
	.title, .logo .text { opacity: 1; }

	.headerBackground {
		background: #000000;
		overflow: hidden;
	}

	.menuBar {
		overflow: hidden;
		background: #212121;
		border-radius: 0;
		a.button {
			background: #424242;
			border-radius: 0;
			color: #fff;
			&.disabled { background: none; }
			&:hover, &:active { background: #424242; }
		}
	}
	
	a.button {
		background: #424242;
		border-radius: 0.1rem;
		color: #fff;
		&:hover {
			background: #424242;
			filter: brightness(120%);
		}
	}
	
	.captionButton {
		background: #000;
		background: rgba(0, 0, 0, 0.2);
		color: white;
		&:hover {
			background: #000;
			background: rgba(0, 0, 0, 0.2);
			color: white;
		}
	}

	.waves-ripple {
		background: #fff !important;
		background: rgba(255, 255, 255, 0.2) !important;
	}
	
	@media screen and (max-width: 37.5rem) { .headerBackground, .menuBar { overflow: initial; } }
}