/*
** Dark Theme
*/
// sass-lint:disable no-important force-element-nesting force-pseudo-nesting

.dark {
	.menu-bar, .menu-bar .button,  .menu-bar .button:hover,
	.menu-bar .button:active,  .menu-bar .button.disabled,
	.button,  .button:hover,  .button:active, .caption-button,
	[type="checkbox"] + label,  [type="radio"] + label {
		background: initial;
		border: initial;
		border-image: none;
	}

	body {
		background: #303030 linear-gradient(#303030 1%, #212121 50%, black 100%);
		color: white;
	}

	p, li { opacity: .8; }
	.bar1, .bar2, .bar3 { box-shadow: initial; }
	.aurora-panel img { filter: grayscale(100%); }
	.burger-button { .bar1, .bar2, .bar3 { background-color: white; } }
	.change { .bar1, .bar2, .bar3 { box-shadow: initial; } }
	.logo .image { filter: grayscale(100%); }
	.menu-focus.active { background: black; }
	.title, .logo .text { opacity: 1; }

	.header-background {
		background: black;
		overflow: hidden;
	}

	.menu-bar {
		background: #212121;
		border-radius: 2px;
		overflow: hidden;

		.button {
			background: transparent;
			border-radius: 0;
			color: white;
			transition: background .2s;

			&.disabled { color: rgba(255, 255, 255, .5); }
			&:hover { background: rgba(158,158,158,.2); }
			&:active { background: rgba(158,158,158,.4); }
		}
	}

	.button {
		background: #424242;
		border-radius: .1rem;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
		color: white;

		&:hover {
			background: #424242;
			filter: brightness(120%);
		}

		&:active { box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2); }
	}

	.caption-button {
		background: rgba(0, 0, 0, .2);
		color: white;

		&:hover {
			background: rgba(0, 0, 0, .2);
			color: white;
		}
	}

	.code, code {
		background: #171717;
		color: #EFF;
	}

	.waves-ripple { background: rgba(255, 255, 255, .2) !important; }

	@media screen and (max-width: 37.5rem) { .header-background, .menu-bar { overflow: initial; } }
}
