/*
** Dark Theme
*/
// sass-lint:disable


.dark {
--background: linear-gradient(#333, #252525);

body {
	color: white;
}

footer {
	background: linear-gradient(#303030, #252525, #1B1B1B, #111, black);
	color: white;

	.logo-group {
		a { filter: initial; }
	}
}

p, li { opacity: .8; }

.icon { fill: white; }

.bar1, .bar2, .bar3 { box-shadow: initial; }

.logo-group { filter: invert(1); }

.burger-button { .bar1, .bar2, .bar3 { background-color: white; } }

.slide-down { .bar1, .bar2, .bar3 { box-shadow: initial; } }

.menu-focus { &.active { background: black; } }

.button {
	background: linear-gradient(#555, #414141);
	border-radius: .1rem;
	color: white;

	&:hover {
		background: linear-gradient(#666, #626262);
	}

	&:active {
		background: linear-gradient(#474747, #333);
		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
	}
}


.code, code {
	background: #171717;
	color: white;
}

@media screen and (max-width: 37.5rem) { .header, nav { overflow: initial; } }

/* Monokai Syntax */
.highlight {
	// sass-lint:disable-block trailing-semicolon one-declaration-per-line property-sort-order
	color: white;
	pre, code, .hll { background-color: #272822;}
	.err { background-color: #1E0010; color: #960050; }
	.ge { font-style: italic;}
	.gs { font-weight: bold;}
	.c, .cm, .cp, .c1, .cs, .gu {color: #75715E;}
	.k, .kc, .kd, .kp, .kr, .kt, .no {color: #66D9EF;}
	.l, .m, .mf, .mh, .mi, .mo, .se, .il {color: #AE81FF;}
	.n, .p, .nb, .ni, .nl, .nn, .py, .nv, .w, .bp, .vc, .vg, .vi {color: #F8F8F2;}
	.o, .kn, .nt, .ow, .gd {color: #F92672;}
	.ld, .s, .sb, .sc, .sd, .s2, .sh, .si, .sx, .sr, .s1, .ss {color: #E6DB74;}
	.na, .nc, .nd, .ne, .nf, .nx, .gi {color: #A6E22E;}
}
}
