/*
** Footer
*/
footer {
//  background: #4F89CA; // fallback contrast
	background: linear-gradient(to top, #4F89CA, #5793D4, #5F9CDE, #68A6E9, #70B0F3);
	border-image: linear-gradient(to left, rgba(0, 0, 0, 0) 8%, rgba(255, 255, 255, .5) 25%, rgba(255, 255, 255, .75) 50%, rgba(255, 255, 255, .5) 75%, rgba(0, 0, 0, 0) 92%) 2;
	border-image-width: 2px 0 0 0;
	border-style: solid;
	border-width: 4px 0 0;
	color: white;
	margin: 0;
	padding: 1em 0 .5em;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
	width: 100%;

	.mother-of-all-links {
		align-content: flex-start;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;

		div {
			font-size: 15pt;
			padding: 0 1em;
			width: 12.5rem;

			a {
				display: block;
				font-size: 1rem;
			}
		}
	}

	a {
		color: inherit;
		opacity: .8;
		text-decoration: underline;
		transition: opacity .125s ease;

		&:focus, &:focus-visible { // Remove &:focus when Chrome and Edge support focus-visible
			background-color: white;
			color: #4F89CA;
			opacity: 1;
			padding: 0 2px;
		}

		&:hover { opacity: 1; }
		&:active { opacity: .3; }

	}

	.the-group-with-the-logo {
		a {
			background: url("img/logo.svg") no-repeat center;
			background-color: initial;
			background-size: 100% 100%;
			height: 3em;
			padding: initial;
			width: 3em;
		}
	}

	.connect-buttons {
		display: flex;
		justify-content: space-around;

		a {
			font-size: 1.5em;
			opacity: .75;
			padding: .5em;
			text-decoration: none;
			transition: opacity .125s ease;

			&:hover {
				opacity: 1;
			}

			&:focus, &:focus-visible { // Remove &:focus when Chrome and Edge support focus-visible
				padding: .5em;
			}

			&:active { opacity: .3; }

			svg { filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .5)); }
		}
	}

	.footer-text {
		display: flex;
		flex-wrap: wrap;

		p {
			margin-bottom: 0;
			padding: 0 1em;
			&:not(:first-child) { border-left: 1px solid white; }
		}
	}
}

.jerry-mouse footer :focus, .jerry-mouse footer :focus-visible { background-color: initial; color: white; padding: initial; } // Remove focus styles for mouse
