/*
** HTML and body styling
*/
html {
	font-family: "Selawik", "Segoe UI", sans-serif;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
}

body {
//  background: #C8D4E7 url("img/background.svg") repeat-x top center fixed;
	background: linear-gradient(white, #C8D4E7);
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 0;
	tab-size: 4;
}


/*
** General
*/
// sass-lint:disable no-important
.waves-ripple { background: rgba(255, 255, 255, 0) !important; }
// sass-lint:enable no-important

.byline { font-style: italic; }

.active, .github-active, .discord-active { display: block; }

.invisible {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.q {
	font-size: 110%;
	font-weight: 600;
	line-height: 1.5em;
}

.a {
	line-height: 1.5em;
	padding-left: 2em;
}

.disabled {
	opacity: .6;
	pointer-events: none;
	user-select: none;
}

.code, code {
	background: white;
	border-radius: .2em;
	color: #171700;
	font-family: "Consolas", "Courier New", "Courier", "Liberation Mono", "Menlo", monospace;
	margin: -.2em 0;
	padding: .2em;
	white-space: pre;
}

.resize { height: 25em; }

.someone {
	background: linear-gradient(270deg, rgba(255, 0, 0, .2), rgba(255, 255, 0, .2), rgba(0, 255, 0, .2), rgba(0, 0, 255, .2));
	border-radius: 4px;
	min-width: 100%;
}

.pixelated { image-rendering: optimizeSpeed; }

.spoiler {
	background-color: black;
	color: black;
	padding: 0 .5em;

	&:hover { color: white; }
}

/* Wordmark */
.wordmark {
	&::after {
		content: "Start9";
		font-family: "Libre Franklin", "Franklin Gothic", "Arial Black", sans-serif;
		font-weight: 900;
	}
}

/*
** Buttons
*/
a {
	color: #00729E;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.button {
		border-image-repeat: stretch stretch;
		border-image-slice: 2 3 3 3 fill;
		border-image-source: url("img/buttonIdle.png");
		border-image-width: 2px 2px 2px 2px;
		border-style: solid;
		border-width: 0;
		box-shadow: .2rem .2rem .625rem rgba(0, 0, 0, .5);
		color: black;
		display: inline-block;
		font-size: .85rem;
		height: 1.75em;
		line-height: 1.75em;
		padding: .5rem .65rem;
		text-align: center;
		text-decoration: none;
		transition: border-image-source .75s ease, box-shadow .75s ease;
		user-select: none;
		vertical-align: middle;
		white-space: nowrap;

		&:hover {
			border-image-source: url("img/buttonHover.png");
			transition: border-image-source .125s ease, box-shadow .125s ease;
		}

		&:active {
			border-image-source: url("img/buttonPressed.png");
			box-shadow: none;
		}

		&.disabled {
			border-image-source: url("img/buttonDisabled.png");
			box-shadow: .2rem .2rem .625em rgba(0, 0, 0, .5);
			opacity: 1;
		}
	}
}


/*
** Checkboxes and Radio
*/
input {
	image-rendering: optimizeSpeed;

	&[type="checkbox"] {
		display: none;

		+ label {
			background: url("img/checkbox.png") no-repeat center;
			background-size: 100% 100%;
			border-image: url("img/checkbox.png") 1 1 1 1 fill stretch;
			border-image-width: .063rem;
			border-style: solid;
			border-width: 0;
			display: inline-block;
			height: 1rem;
			padding: 0;
			transition: border-image-source .75s ease;
			width: 1rem;
		}

		&:checked + label {
			background: url("img/checkboxChecked.png") no-repeat center;
			border-image-source: url("img/checkboxChecked.png");
			transition: border-image-source .125s ease;
		}

		&:hover {
			+ label {
				background: url("img/checkboxHover.png") no-repeat center;
				border-image-source: url("img/checkboxHover.png");
			}

			&:checked + label {
				background: url("img/checkboxCheckedHover.png") no-repeat center;
				border-image-source: url("img/checkboxCheckedHover.png");
			}
		}
	}

	&[type="radio"] {
		display: none;

		+ label {
			background: url("img/radio.png") no-repeat center;
			background-size: 100% 100%;
			border-image: url("img/radio.png") 1 1 1 1 fill stretch;
			border-image-width: .063rem .063rem .063rem .063rem;
			border-style: solid;
			border-width: 0;
			display: inline-block;
			height: 1rem;
			padding: 0;
			transition: border-image-source .75s ease;
			width: 1rem;
		}

		&:hover + label {
			background: url("img/radioHover.png") no-repeat center;
			border-image-source: url("img/radioHover.png");
			transition: border-image-source .125s ease;

			&:checked+label {
				background: url("img/radioCheckedHover.png") no-repeat center;
				border-image-source: url("img/radioCheckedHover.png");
			}
		}

		&:checked + label {
			background: url("img/radioChecked.png") no-repeat center;
			border-image-source: url("img/radioChecked.png");
		}

	}
}



/*
** Fontfaces
*/
/* Light */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 200;
	src: url("font/selawkl.eot?#dumbie") format("embedded-opentype"),
		 local("Selawik Light"),
		 url("font/selawkl.ttf") format("truetype"),
		 url("font/selawkl.woff") format("woff"),
		 url("font/selawkl.woff2") format("woff2");
}

/* Semilight */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 300;
	src: url("font/selawksl.eot?#dumbie") format("embedded-opentype"),
		 local("Selawik Semilight"),
		 url("font/selawksl.ttf") format("truetype"),
		 url("font/selawksl.woff") format("woff"),
		 url("font/selawksl.woff2") format("woff2");
}

/* Normal */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 400;
	src: url("font/selawk.eot?#dumbie") format("embedded-opentype"),
		 local("Selawik"),
		 url("font/selawk.ttf") format("truetype"),
		 url("font/selawk.woff") format("woff"),
		 url("font/selawk.woff2") format("woff2");
}

/* Semibold */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 600;
	src: url("font/selawksb.eot?#dumbie") format("embedded-opentype"),
		 local("Selawik Semibold"),
		 url("font/selawksb.ttf") format("truetype"),
		 url("font/selawksb.woff") format("woff"),
		 url("font/selawksb.woff2") format("woff2");
}

/* Bold */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 700;
	src: url("font/selawkb.eot?#dumbie") format("embedded-opentype"),
		 local("Selawik Bold"),
		 url("font/selawkb.ttf") format("truetype"),
		 url("font/selawkb.woff") format("woff"),
		 url("font/selawkb.woff2") format("woff2");
}

/*
** Falbacks
*/
.no-cssgrid {
	.grid-body {
		display: table;
	}

	.content {
		display: table-cell;
		width: 80%;
	}

	.side {
		display: table-cell;
		width: 15%;
	}
}

