/*
** HTML and body styling
*/
html {
	background: linear-gradient(whitesmoke, #CCC);
	font-family: "Ubuntu", "Segoe UI", sans-serif;
	line-height: 1.5rem;
	min-height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	padding: 0;
	tab-size: 4; // best tab size don't @
}

/*
** General
*/
.byline { font-style: italic; }

.invisible { // hides element in 3 ways incase the other two fail
	display: none;
	opacity: 0;
	visibility: hidden;
}

.disabled {
	opacity: .6;
	pointer-events: none;
	user-select: none;
}

.code, code {
	background: white;
	border-radius: .2em;
	color: #171700;
	font-family: "Consolas", "Lucida Console", "Monaco", monospace;
	margin: -.2em 0;
	padding: .2em;
	white-space: pre;
}

.resize { height: 25em; }

.someone { // used for bad joke, remove whenever
	background: linear-gradient(270deg, rgba(255, 0, 0, .2), rgba(255, 255, 0, .2), rgba(0, 255, 0, .2), rgba(0, 0, 255, .2));
	border-radius: 4px;
	min-width: 100%;
}

.pixelated { image-rendering: optimizeSpeed; }

.spoiler {
	background-color: black;
	color: black;
	padding: 0 .5em;

	&:hover { color: white; }
}

// this is never used, but just in case keep it here
// .oneemw { width: 1em; }

/*
** Headers
*/
h1, h2, h3, h4, h5, h6 { font-weight: 500; }


h1 { font-size: var(--font-size-3); }
h2 { font-size: var(--font-size-2); }
h3 { font-size: var(--font-size-1); }

/*
** a11y
*/
/* Tab Skip */
.skip-to-content {
	height: 1px;
	left: -25565vw;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 1px;
	z-index: -1337;

	&:focus-visible, &:active {
		background: #575757;
		border: 3px solid white;
		border-radius: 15px;
		color: white;
		font-size: 1rem;
		height: auto;
		left: calc(50vw - 6rem);
		margin: 1rem .5rem;
		overflow: auto;
		padding: .5rem 1rem;
		text-align: center;
		text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
		width: auto;
		z-index: 6969;
	}
}

.skip-target {
	float: right;
	height: 1px;
	overflow: hidden;
	width: 1px;
}

/* screen reader only text */
.vox-only { // hidden text for narrators 
	height: 1px;
	left: -420691337px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

/* :focus styling + remove it when mouse is used */
a:not(.button):not(.skip-to-content) { // slightly increase visibility when tabbing to links
	&:focus {
		background: white;
	}
}

// :focus styling serves no purpose when a mouse is being used, and is removed
.jerry-mouse { // styles reset when mouse used
	&:focus {
		outline: none;
	}

	a:not(.button):not(.skip-to-content) {
		&:focus {
			background: transparent;
		}
	}
}
