/*
** HTML and body styling
*/
html {
	background: linear-gradient(whitesmoke, #CCC);
	font-family: "Ubuntu", "Segoe UI", sans-serif;
	min-height: 100%;
	overflow: hidden visible;
}

body {
	margin: 0;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: visible;
	padding: 0;
	tab-size: 4;
}

/*
** General
*/
.vox-only {
	height: 1px;
	left: -420691337px;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}

.jerry-mouse :focus { outline: none; }

.byline { font-style: italic; }

.active, .github-active, .discord-active { display: block; }

.invisible {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.disabled {
	opacity: .6;
	pointer-events: none;
	user-select: none;
}

.code, code {
	background: white;
	border-radius: .2em;
	color: #171700;
	font-family: "Consolas", "Lucida Console", "Monaco", monospace;
	margin: -.2em 0;
	padding: .2em;
	white-space: pre;
}

.resize { height: 25em; }

.someone {
	background: linear-gradient(270deg, rgba(255, 0, 0, .2), rgba(255, 255, 0, .2), rgba(0, 255, 0, .2), rgba(0, 0, 255, .2));
	border-radius: 4px;
	min-width: 100%;
}

.pixelated { image-rendering: optimizeSpeed; }

.spoiler {
	background-color: black;
	color: black;
	padding: 0 .5em;

	&:hover { color: white; }
}

.oneemw { width: 1em; }

/*
** Headers
*/
h1, h2, h3, h4, h5, h6 { font-weight: 500; }

/*
** Tab Skip
*/
.skip-to-content {
	height: 1px;
	left: -25565vw;
	overflow: hidden;
	position: absolute;
	top: 1em;
	width: 1px;
	z-index: -1337;

	&:focus-visible, &:active {
		background: #575757;
		border: 3px solid white;
		border-radius: 15px;
		color: white;
		font-size: 1rem;
		height: auto;
		left: calc(50vw - 6rem);
		margin: 1rem .5rem;
		overflow: auto;
		padding: .5rem 1rem;
		text-align: center;
		text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
		width: auto;
		z-index: 6969;
	}
}

.skip-target {
	float: right;
	height: 1px;
	overflow: hidden;
	width: 1px;
}

/*
** Hero
*/
.hero {
	display: flex;
	height: calc(85vh - 6rem);
	justify-content: space-evenly;
	margin: auto;

	div {
		width: 45%;

		h1 {
			font-size: 4em;
			margin: 0 auto 1rem;
		}

		h2 { margin-top: 0;}

      h1, h2, a, p { background: black; }
	}

	.left-half, .right-half {
		align-self: center;
		height: 50%;
	}

	.right-half { text-align: right; }
}
