/*
** Marketplace
*/
.marketplace {
	.backgroundicon {
		bottom: 10em;
		max-height: 10rem;
		opacity: .25;
		position: relative;
	}

	.byline {
		position: relative;
		top: 0;
	}

	input {
		margin-bottom: 1.5rem;
		width: 100%;
	}
}

.marketplace-title {
	color: var(--color);
	font-size: var(--font-6);
	line-height: 1.25em;
	margin: 0;
	text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
	width: 100%;
	z-index: 2;
}

.marketplace-flex {
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		margin: 0 0 2.5em 2em;
		text-decoration: none;
	}

	.flex-item {
		background-color: #EEE;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 2px;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .25);
		color: var(--color);
		height: 9rem;
		padding: 1em;
		position: relative;
		transition: transform .125s ease;
		user-select: none;
		width: 20rem;

		&:active { transform: scale(.98); }

		p {
			line-height: 1.1em;
			max-width: 15.9rem;
			overflow: hidden;
			word-wrap: break-word;
		}

		.desc { height: 2.5em; }

		.byline {
			font-style: normal;
			height: 1em;
			margin-top: 0;
			opacity: .75;
		}

		h2 {
			height: 1.1em;
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}


/*
** Individual Marketplace Module/Skin page
*/
.module-page {
	.cover {
		align-items: center;
		background: linear-gradient(rgba(var(--card-1), .8), rgba(var(--card-2), .9));
		display: flex;
		height: 10rem;
		justify-content: center;
		overflow: hidden;
		padding: 0;
		position: relative;
		width: 100%;

		// https://stackoverflow.com/questions/31267425/use-the-html-img-tag-as-a-background-image-instead-of-the-css-background-image/31267758
		img {
			height: 100%;
			object-fit: cover;
			pointer-events: none;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}
}
