/*
** Marketplace
*/
.marketplace {
	.backgroundicon {
		bottom: 10em;
		max-height: 10rem;
		opacity: .25;
		position: relative;
	}

	.byline {
		position: relative;
		top: 0;
	}

	input {
		margin-bottom: 1.5rem;
		width: 100%;
	}
}

.marketplace-title {
	color: var(--text);
	font-size: var(--font-6);
	line-height: 1.25em;
	margin: 0;
	text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
	width: 100%;
	z-index: 2;
}

.jerry-mouse {
	.marketplace-flex {
		a {
			&:focus .flex-item::after, &:focus-visible .flex-item::after {
				box-shadow: 0 5px 24px 0 rgba(0, 0, 0, .25);
			}
		}
	}   
}

.marketplace-flex {
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	a {
		margin: 0 0 2.5em 2em;
		text-decoration: none;
			
		&:focus .flex-item::after, &:focus-visible .flex-item::after {
			box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .25), inset 0 0 0 .25em rgba(255, 255, 255, .5);
		}
	}

	.flex-item {
		background-color: #EEE;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 4px;
		box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .25);
		color: var(--text);
		display: inline-block;
		height: 9rem;
		padding: 1em;
		position: relative;
		text-align: left;
		transform: translate3d(0, 0, 0) scale(1); // forces GPU rendering
		transition: transform .125s ease, box-shadow .125s ease;
		user-select: none;
		width: 20rem;

		// done this way to avoid flicker on hover
		.card-bg {
			border-radius: 4px;
			height: 100%;
			margin: -1em;
			object-fit: cover;
			display: block;
			pointer-events: none;
			position: absolute;
			width: 100%;
			z-index: -2;
		}
		
		// gradient overlay for image
		&::after {
			background-image: linear-gradient(rgba(var(--card-1), .8), rgba(var(--card-2), .9));
			border-radius: 4px;
			content: '';
			display: inline-block;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			transition: box-shadow .125s ease;
			width: 100%;
			z-index: -1;
		}

	&:hover, &:focus, &:focus-visible {
			box-shadow: 0 5px 24px 0 rgba(0, 0, 0, .25); // makes the card look like its floating
			transform: translate3d(0, 0, 0) scale(1.025); 

		}

		&:active { transform: translate3d(0, 0, 0) scale(.98); }

		p {
			line-height: 1.1em;
			max-width: 15.9rem;
			overflow: hidden;
			word-wrap: break-word;
		}

		.desc { height: 2.5em; }

		.byline {
			font-style: normal;
			height: 1em;
			margin-top: 0;
			opacity: .75;
		}

		h2 {
			height: 1.1em;
			margin: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

// cancel focus style on mouse
.jerry-mouse a:focus .flex-item {
	box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.25);
}

/*
** Individual Marketplace Module/Skin page
*/
.marketplace-coverimage {
	left: 50%;
	max-height: 20em;
	object-fit: cover;
	position: absolute;
	transform: translate(-50%, 0);
	width: 100%;
}

.module-page {
	.cover {
		.card {
			align-items: center;
			display: flex;
			height: 10rem;
			justify-content: space-between;
			overflow: hidden;
			padding: 0;
			position: relative;
			width: 100%;
		}

		.info, .install { margin: 0 2em; }

		img {
			height: 100%;
			object-fit: cover;
			pointer-events: none;
			position: absolute;
			width: 100%;
			z-index: -1;
		}
	}

	article { margin-top: 2em; }
}
