/*
** Menu
*/
/* Caption Buttons */
.a11y-menu, .caption-menu {
	display: none;
	float: right;
	line-height: 3rem;
	padding-right: 1rem;
	pointer-events: auto;
	position: relative;

	.caption-button {
		align-items: center;
		background: none;
		color: white;
		display: inline-block;
		font-size: 1rem;
		font-weight: bold;
		opacity: .75;
		padding: 0 .3em;
		text-decoration: none;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
		transition: opacity .125s ease;
		vertical-align: middle;

		svg {
			filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, .5));
			vertical-align: inherit;
		}

		&:hover, &:focus-visible {
			opacity: 1;
			text-decoration: none;
		}

		&:focus-visible {
			text-shadow: initial;
			svg { filter: unset; }
		}

		&:active { opacity: .3; }

	}
}

/* Required for _mobile */
.mobile-logo { display: none; }

/* Header + Menu Bar */
.header {
	background: #575757 linear-gradient(#575757 0%, #454545 100%);
	border-bottom: 1px solid #9B9B9B;
	box-shadow: 0 5px 20px 1px rgba(0, 0, 0, .75);
	color: white;
	display: block;
	fill: white;
	position: sticky; // ! This might not be how it works
	top: -3rem; // ! This might not be proper use of sticky positioning
	transition: transform .3s ease;
	user-select: none;
	width: 100%;
	z-index: 41;

	&.scroll-up { transform: translateY(-3em); }

	.burger-button {
		display: block;
		float: left;
		line-height: 3rem;
		opacity: 0;
		pointer-events: none;
	}

	.title {
		font-size: var(--font-1);
		height: 3rem;
		line-height: 3rem;
		opacity: .7;
		text-align: center;

		.title-text {
			display: inline-block;
			margin: 0;
			text-shadow: 1px 0 10px rgba(0, 0, 0, .5);
		}
	}

	nav {
		background: transparent;
		bottom: .225em;
		display: inline-block;
		height: 3rem;
		line-height: 3.25rem;
		position: relative;
		text-align: center;
		width: inherit;
		z-index: 42;

		.button {
			background: transparent;
			border: initial;
			border-radius: initial;
			color: inherit;
			display: inline-block;
			line-height: 3rem;
			opacity: .7;
			padding: 0 5%;
			text-align: center;
			text-decoration: none;
			text-shadow: 0 0 6px rgba(0, 0, 0, .75);
			transition: box-shadow .125s ease;

			&:hover, &.current {
				box-shadow: inset 0 -.25rem 0 0 rgb(var(--accent)), inset 0 -3.25rem 1rem -3rem rgba(var(--accent), .69);
				opacity: 1;
			}

			/* 
			!! For old Edge and Firefox, combining :focus-visible and :hover disables styling for both.
			!! Therefore, the same style is duplicated, as shown in the next block.
			*/
			&:focus-visible {
				box-shadow: inset 0 -.25rem 0 0 rgb(var(--accent)), inset 0 -3.25rem 1rem -3rem rgba(var(--accent), .69);
				opacity: 1;
			}

			&:active { box-shadow: inset 0 -.25em 0 0 rgb(calc(var(--a-r) - 26), calc(var(--a-g) - 32), calc(var(--a-b) - 36)); }

			&.disabled {
				box-shadow: inherit;
				opacity: .6;
				text-shadow: none;
			}
		}
	}
}

/*
** Command Bar
*/
.command-bar {
	background: linear-gradient(rgb(var(--card-1)), rgb(var(--card-2)));
	border-top: 1px #9B9B9B solid;
	padding: .5em;
}

/*
** Table of Contents
*/
.toc {
	ul {
		border-left: rgba(0, 0, 0, .2) 1px solid;
		list-style-type: none;
		padding: 0 0 0 1rem;
	}

	li { padding: 0; }

	h2 { margin-top: 0; }
}
