/*
** Mobile + Printer stuff
*/
/* Printer adjustments */
@media print {
	.header, nav, .header-space, .side, footer { display: none; }
	a { color: black; }
	body { background: none;}
}

/* Mobile Adjustments */
@media screen and (max-width: 76rem) {

	.grid-body { margin: 18.5em 1em; }
	.one-box { margin: 1em; }
}

@media all and (max-width: 50.75rem) {
	.grid-body, .one-box {
		grid-template-columns: auto auto;
		grid-template-rows: 100%;
	}

	.index {
		.side {
			grid-column: 1;
			grid-row: 2;
		}

		.hero, .features, .slide {
			display: inline-block;
			margin: 3em 0;

			div {
				display: inline-block;
				margin-bottom: 1.5em;
				width: calc(100vw - 2rem);
			}
		}
	}
}

@media screen and (min-width: 37.5rem) {
	.menu-focus {
		display: none !important;
		opacity: 0 !important;
		visibility: hidden !important;
	}

	html { overflow-y: scroll !important; }
}


@media screen and (max-width: 37.5rem) {
	.header {
		height: 3rem;

		.burger-button {
			cursor: pointer;
			opacity: 1;
			pointer-events: visible;
		}
	}

	nav { visibility: hidden; }

	.responsive {
		& nav {
			display: inline-block;
			height: initial;
			overflow: hidden;
			position: relative;
			visibility: initial;

			.button {
				min-width: 100%;
				padding: 0;
				width: 100%;
			}
		}

       &.header { height: initial; }
	}

	.marketplace-title {
		bottom: 6em;
		font-size: 3rem;
		height: 3.75em;
		line-height: 3.25rem;
	}

	.header-space { height: 3rem; }

	.footer-flex {
		align-content: center;
		margin: 0 1em;
		div { align-self: center; }
	}

	.footer-text { padding: 0 1em; }

	footer { .footer-flex { div { padding-bottom: 1em; } } }
}
