// sass-lint:disable no-vendor-prefixes brace-style nesting-depth force-pseudo-nesting
/*
** Scrollbars
** based off https://stackoverflow.com/a/52895808
**/

::-webkit-scrollbar-track { background: linear-gradient(#EDEDED, #DBDBDB); }

::-webkit-scrollbar {
	background-color: #F5F5F5;
	box-shadow: -5px 0 5px 0 rgba(0, 0, 0, .18);
	width: 17px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(#FCFCFC, #E2E2E2);
	border: 1px solid #B5B5B5;

	&:active {
		background: #333 linear-gradient(#B1DAEE, #9DC6DA);
		border: 1px solid #83A6B6;
		box-shadow: inset 0 0 0 1px linear-gradient(#D6ECF6, #A5D1E4);
	}
}

::-webkit-scrollbar-corner { background-color: #F0F0F0 }

::-webkit-scrollbar-button {
	height: 17px;
	width: 17px;

	&:vertical {
		&:start:decrement {
			background: linear-gradient(134deg, #EEE 40%, transparent 41%), linear-gradient(233deg, #EEE 40%, transparent 41%), linear-gradient(0deg, #EEE 40%, transparent 41%) #333;
			border: 1px solid #B5B5B5;
			box-shadow: inset 0 0 0 1px linear-gradient(#FBFBFB, #E2E2E2);

			&:active {
				background: linear-gradient(134deg, #B0D9ED 40%, transparent 41%), linear-gradient(233deg, #B0D9ED 40%, transparent 41%), linear-gradient(0deg, #9EC7DB 40%, transparent 41%) #333;
				border: 1px solid #83A6B6;
				box-shadow: inset 0 0 0 1px linear-gradient(#D5ECF6, #A6D1E4);
			}
		}

		&:end:increment {
			background: linear-gradient(315deg, #DADADA 40%, transparent 41%), linear-gradient(45deg, #DADADA 40%, transparent 41%), linear-gradient(180deg, #DADADA 40%, transparent 41%) #333;
			border: 1px solid #B5B5B5;
			box-shadow: inset 0 0 0 1px linear-gradient(#FCFCFC, #E2E2E2);

			&:active {
				background: linear-gradient(315deg, #9EC7DB 40%, transparent 41%), linear-gradient(45deg, #9EC7DB 40%, transparent 41%), linear-gradient(180deg, #B0D9ED 40%, transparent 41%) #333;
				border: 1px solid #83A6B6;
				box-shadow: inset 0 0 0 1px linear-gradient(#D5ECF6, #A6D1E4);
			}
		}
	}

	&:horizontal {
		&:start:decrement {
			background: linear-gradient(45deg, #DADADA 40%, transparent 41%), linear-gradient(145deg, #DADADA 40%, transparent 41%), linear-gradient(270deg, #DADADA 40%, transparent 41%) #333;

			&:active {
				background: linear-gradient(45deg, #9EC7DB 40%, transparent 41%), linear-gradient(145deg, #9EC7DB 40%, transparent 41%), linear-gradient(270deg, #B0D9ED 40%, transparent 41%) #333;
				border: 1px solid #83a6b6;
				box-shadow: inset 0 0 0 1px linear-gradient(#D5ECF6, #A6D1E4);
			}
		}

		&:end:increment {
			background: linear-gradient(225deg, #DADADA 40%, transparent 41%), linear-gradient(315deg, #DADADA 40%, transparent 41%), linear-gradient(90deg, #DADADA 40%, transparent 41%) #333;

			&:active {
				background: inear-gradient(255deg, #B0D9ED 40%, transparent 41%), linear-gradient(315deg, #9EC7DB 40%, transparent 41%), linear-gradient(90deg, #9EC7DB 40%, transparent 41%) #333;
				border: 1px solid #83a6b6;
				box-shadow: inset 0 0 0 1px linear-gradient(#D5ECF6, #A6D1E4);
			}
		}
	}
}
