// sass-lint:disable-all
/*
** Variables
** (light theme)
*/
// Define variables
:root {

/* General */
--background: #CCC; // site background

/* Cards */
// these are in decimal to allow for alpha transparency in marketplace
--card-1: 238, 238, 238; // card background (gradient stop 1)
--card-2: 218, 218, 218; // card background (gradient stop 2)

/* Scrollbar */
--scrollbar: #DADADA; // scrollbar button initial
--scrollbar-hover: #F2F2F2; // scrollbar button hover (bottom)
--scrollbar-hover-1: #E9E9E9; // scrollbar button hover (top)
--scrollbar-active: #B0E7EC; // scrollbar button active (bottom)
--scrollbar-active-1: #A7DEE3; // scrollbar button active (top)
--scrollbar-arrow: #333; // color of scrollbar arrow

/* Font Sizes (1.25 scale) */
--font-7: 4.768rem;
--font-6: 3.815rem;
--font-5: 3.052rem;
--font-4: 2.441rem;
--font-3: 1.953rem;
--font-2: 1.563rem;
--font-1: 1.25rem;
--font-0: 1rem;
--font--1: .8rem;
--font--2: .64rem;
--font--3: .512rem;
}
