/* DAMMIT IE 6- WHY YOU GOTTA HATE STANDARDS */
@import url("style.css");

/* disable burger button */
	.burgerButton:hover .bar1 {background-color: transparent;}
	.burgerButton:hover .bar2 {background-color: transparent;}
	.burgerButton:hover .bar3 {background-color: transparent;}
	.burgerButton .bar1 {background-color: transparent;}
	.burgerButton .bar2 {background-color: transparent;}
	.burgerButton .bar3 {background-color: transparent;}
/*  >:(  */

body { 	background-image: url('img/background.jpg'); }

.headerBackground {	
	background-image: url('img/headerBackground_exploder.jpg');
	background-size: 100% 100%;
	background-position: center center;
}

.menuBar {	
	background-image: url('img/menuBar.jpg');
	background-size: 100% 100%;
	background-position: center center;
}