/* Font face */
@font-face {
	font-family: Selawik;
	src: url("font/selawk.woff") format("embedded-opentype"),
		 url("font/selawk.ttf") format("truetype"),
		 url("font/selawk.eot") format("woff");
}
 
* {font-family: "Selawik", "Segoe UI";}
/* --- */

/* Remove X Overflow */ 
html, body {overflow-x: hidden;}

/* Animation */
@-webkit-keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:1}
}

@keyframes fading {
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:1}
}

.right{
	-webkit-animation: animationRight linear 20s alternate;
			animation: animationRight linear 20s alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.right2{
	-webkit-animation: animationRight2 linear 10s alternate !important;
			animation: animationRight2 linear 10s alternate !important;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@-webkit-keyframes animationRight {
  0% {-webkit-transform: translate(0px,0px) scaleX(1.00);transform: translate(0px,0px) scaleX(1.00);}
  100% {-webkit-transform: translate(200px,0px) scaleX(1.25) ;transform: translate(200px,0px) scaleX(1.25);}
}

@keyframes animationRight {
  0% {-webkit-transform: translate(0px,0px) scaleX(1.00);transform: translate(0px,0px) scaleX(1.00);}
  100% {-webkit-transform: translate(200px,0px) scaleX(1.25) ;transform: translate(200px,0px) scaleX(1.25);}
}

@-webkit-keyframes animationRight2 {
  0% {-webkit-transform: translate(0px,0px) scaleX(1) ;transform: translate(0px,0px) scaleX(1);}
  100% {-webkit-transform: translate(200px,0px) scaleX(1.15) ;transform: translate(200px,0px) scaleX(1.15);}
}

@keyframes animationRight2 {
  0% {-webkit-transform: translate(0px,0px) scaleX(1) ;transform: translate(0px,0px) scaleX(1);}
  100% {-webkit-transform: translate(200px,0px) scaleX(1.15) ;transform: translate(200px,0px) scaleX(1.15);}
}

.left {
	-webkit-animation: animationLeft linear 10s alternate;
			animation: animationLeft linear 10s alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.left2 {
	-webkit-animation: animationLeft2 linear 25s alternate !important;
			animation: animationLeft2 linear 25s alternate !important;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@-webkit-keyframes animationLeft {
	0% {-webkit-transform: translate(0px,0px) scaleX(1);transform: translate(0px,0px) scaleX(1);}
	100% {-webkit-transform: translate(-200px,0px) scaleX(1.25);transform: translate(-200px,0px) scaleX(1.25);}
}

@keyframes animationLeft {
	0% {-webkit-transform: translate(0px,0px) scaleX(1);transform: translate(0px,0px) scaleX(1);}
	100% {-webkit-transform: translate(-200px,0px) scaleX(1.25);transform: translate(-200px,0px) scaleX(1.25);}
}

@-webkit-keyframes animationLeft2 {
	0% {-webkit-transform: translate(0px,0px) scaleX(1);transform: translate(0px,0px) scaleX(1);}
	100% {-webkit-transform: translate(-200px,0px) scaleX(1.8);transform: translate(-200px,0px) scaleX(1.8);}
}

@keyframes animationLeft2 {
	0% {-webkit-transform: translate(0px,0px) scaleX(1);transform: translate(0px,0px) scaleX(1);}
	100% {-webkit-transform: translate(-200px,0px) scaleX(1.8);transform: translate(-200px,0px) scaleX(1.8);}
}

@-webkit-keyframes slideDown {
	0%   {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 4em;
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 14.4em
	}
}

@keyframes slideDown {
	0%   {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 4em;
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 14.4em
	}

}
/* --- */

/* Hamburger */
.burgerButton {
	display: inline-block;
	margin-bottom: -1.25em;
	margin-left: 1.5rem;
	margin-top: 0;
	border-radius: 1em;
	cursor: pointer !important;
}

	.burgerButton:hover .bar1 {background-color: white;}
	.burgerButton:hover .bar2 {background-color: white;}
	.burgerButton:hover .bar3 {background-color: white;}

	.bar1, .bar2, .bar3 {
		width: 1.5em;
		height: 2px;
		background-color: #8cb5f7;
		margin: 5px 0;
		-webkit-transition: 0.3s;
		-o-transition: 0.3s;
		transition: 0.3s;
		border-radius: 1em;
		-webkit-box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #375f98;
				box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #375f98;
	}
	
	.change .bar1 {
		width: 1.5em;
		background-color: #8cb5f7;
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		-ms-transform: rotate(-45deg) translate(-6px, 4px);
			transform: rotate(-45deg) translate(-6px, 4px);
		-webkit-box-shadow: 0 0 0 0 #375f98;
				box-shadow: 0 0 0 0 #375f98;
	}

	.change .bar2 {opacity: 0; background-color: #8cb5f7; width: 1.5em;}

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		-ms-transform: rotate(45deg) translate(-6px, -4px);
			transform: rotate(45deg) translate(-6px, -4px);
		background-color: #8cb5f7;
		width: 1.5em;
		-webkit-box-shadow: 0 0 0 0 #375f98;
				box-shadow: 0 0 0 0 #375f98;
	}
/* --- */

/* Mobile Ajustments */
@media screen and (max-width: 1000px) { .gridBody {margin: -10em 5vw auto 5vw !important;} }

@media screen and (max-width: 600px) {
	.headerBackground .responsive {
		position: relative; 
		overflow: hidden;
		-webkit-animation: 0.3s slideDown ease;
				animation: 0.3s slideDown ease;
	}

	.headerBackground .burgerButton {
		pointer-events: visible !important;
		cursor: pointer !important;
		opacity: 1 !important;
	}

	.headerBackground .responsive button {
		float: none;
		display: block;
		min-width: 100%;
	}

	.title {visibility: hidden;}

	.title:after {
		content: "Start9";
		visibility: visible;
		margin-left: -3em;
	}

}

@media all and (max-width: 812px) {
	.gridBody {
		margin: -10em 0 auto 0 !important;
		-ms-grid-columns: auto auto !important;
			grid-template-columns: auto auto !important;
		-ms-grid-rows: 100% !important;
			grid-template-rows: 100% !important;
	}

	.side {
		-ms-grid-row: 2 !important;
			grid-row: 2 !important;
		-ms-grid-column: 1 !important;
			grid-column: 1 !important;
		padding: 2em 2em 5em 2em;
	}
}


/* --- */


/* Modifiers */
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.customMargin {margin: -1em 0;}
/* --- */

/* Aurora Panel */
.bodyBG {
	position: relative;
	z-index: -100;
	width: 100%;
	background: transparent;
	height: 12.5em; 
	width: 100%;
	text-align: center;
}
 
.aurora {
	position: absolute;
	width: 100%;
	vertical-align: middle; 
	height: 256px;
	overflow-x: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	margin-left: -50vw;
}

.logo { 
	margin: -200px 0 256px 0;
	z-index: 1000;
	min-width: 100%;
	text-align: center;
}
	.logo .image {
		width: 80px;
		height: 104px;
		vertical-align: middle;	
	}

	.logo .text {
		font-size: 48px;
		vertical-align: middle;
	}
/* Menu */
.mobileLogo {display: none;}

.headerSpace {height: 6em;}

.headerBackground {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
			box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
															 background: #4d88d5;
	background-image: url('img/headerBackground.svg');
	background: -webkit-linear-gradient(left, #4d88d5 0%,#6fb0f3 51%,#4d88d5 100%);
		 background: -o-linear-gradient(left, #4d88d5 0%,#6fb0f3 51%,#4d88d5 100%);
		background: linear-gradient(to right, #4d88d5 0%,#6fb0f3 51%,#4d88d5 100%);
	position: fixed;
	padding: 0;
	height: 6em;
	vertical-align: top;
	-ms-border-image-slice: 0 10 0 10 fill;
	 -o-border-image-slice: 0 10 0 10 fill;
		border-image-slice: 0 10 0 10 fill;
	-ms-border-image-width: 0 10px 0 10px;
	 -o-border-image-width: 0 10px 0 10px;
		border-image-width: 0 10px 0 10px;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	-ms-border-image-source: url("img/headerBackground.png");
	 -o-border-image-source: url("img/headerBackground.png");
		border-image-source: url("img/headerBackground.png");
	width: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
 
.title {
	height: 1em;
	font-size: 19px;
	margin-top: -0.5em;
	color: white;
	vertical-align: center;
	text-align: center;
}

.headerBackground .burgerButton {opacity: 0; pointer-events: none; cursor: default;}

.menuBar {
															   background: #3669af;
	background-image: url('img/menuBar.svg');
	background: -webkit-linear-gradient(left, #3669af 1%,#5f9cda 50%,#3669af 100%);
		 background: -o-linear-gradient(left, #3669af 1%,#5f9cda 50%,#3669af 100%);
		background: linear-gradient(to right, #3669af 1%,#5f9cda 50%,#3669af 100%);
	text-align: center;
	vertical-align: bottom;
	display: inline-block;
	-ms-flex-item-align: end;
		align-self: flex-end;
	min-width: 100%;
	min-height: 3rem;
	overflow: auto;
	z-index: 100;
	border-radius: 1rem 1rem 0 0;
	-ms-border-image-slice: 20 10 0 10 fill;
	 -o-border-image-slice: 20 10 0 10 fill;
		border-image-slice: 20 10 0 10 fill;
	-ms-border-image-width: 20px 10px 0 10px;
	 -o-border-image-width: 20px 10px 0 10px;
		border-image-width: 20px 10px 0 10px;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	-ms-border-image-source: url("img/menuBar.png");
	 -o-border-image-source: url("img/menuBar.png");
		border-image-source: url("img/menuBar.png");
}

.menuBar button, a {
	-webkit-box-shadow: none;
			box-shadow: none;
	min-height: 100%;
	text-decoration:  none;
	-webkit-animation: fading 0.3s ease;
			animation: fading 0.3s ease;
	-webkit-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	padding: 1.1em 5% 1.1em 5%;
	text-align: center;
	background: url("img/menuBarButton.png") no-repeat center center fixed;
	background-size: cover;
	-ms-border-image-source: url("img/menuBarButton.png");
	 -o-border-image-source: url("img/menuBarButton.png");
		border-image-source: url("img/menuBarButton.png");
	color: white;
	transition: all 0.3s ease;
}

.menuBar button:hover, a:hover {
	-webkit-animation: fading 0.3s ease;
			animation: fading 0.3s ease;
	-webkit-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	-ms-border-image-slice: 0 7 7 7 fill;
	 -o-border-image-slice: 0 7 7 7 fill;
		border-image-slice: 0 7 7 7 fill;
	-ms-border-image-width: 0 7px 7px 7px;
	 -o-border-image-width: 0 7px 7px 7px;
		border-image-width: 0 7px 7px 7px;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	background:url("img/menuBarButton_hover.png") no-repeat center center fixed;
	background-size: cover;
	-ms-border-image-source: url("img/menuBarButton_hover.png");
	 -o-border-image-source: url("img/menuBarButton_hover.png");
		border-image-source: url("img/menuBarButton_hover.png");
}

.menuBar button:active, a:hover {
	-webkit-animation: fading 0.3s ease;
			animation: fading 0.3s ease;
	background: url("img/menuBarButton_pressed.png") no-repeat center center fixed;
	background-size: cover;
	-ms-border-image-source: url("img/menuBarButton_pressed.png");
	 -o-border-image-source: url("img/menuBarButton_pressed.png");
		border-image-source: url("img/menuBarButton_pressed.png");
}
/* --- */


/* Body */

body {
	margin: 0;
	padding: 0;
	background-color: #C8D4E7; /* fallback */
	background: #C8D4E7; /* fallback */
	background-image: url('img/background.svg');
	background: -webkit-linear-gradient(white, #C8D4E7);
		 background: -o-linear-gradient(white, #C8D4E7);
			background: linear-gradient(white, #C8D4E7);
	-ms-background-position: top center !important;
		background-position: top center !important;
	-ms-background-repeat: no-repeat !important;
		background-repeat: no-repeat !important;
	-ms-background-attachment: fixed;
		background-attachment: fixed;
	min-width: 100%;
	min-height: 100%;
}

/* --- */

/* Cursors (why not lol) */
.cursor  + .def			{cursor:url("cur/def.cur"), 			initial; }
.cursor  + .ew-resize	{cursor:url("cur/ew-resize.cur"), 	  ew-resize; }
.cursor  + .help		{cursor:url("cur/help.cur"), 			   help; }
.cursor  + .nesw-resize {cursor:url("cur/nesw-resize.cur"), nesw-resize; }
.cursor  + .disabled	{cursor:url("cur/not-allowed.cur"), not-allowed; }
.cursor  + .n-resize	{cursor:url("cur/n-resize.cur"), 	   n-resize; }
.cursor  + .ns-resize	{cursor:url("cur/ns-resize.cur"), 	  ns-resize; }
.cursor  + .nwse-resize {cursor:url("cur/nwse-resize.cur"), nwse-resize; }
.cursor  + .pointer		{cursor:url("cur/pointer.cur"), 		pointer; }
.cursor  + .text		{cursor:url("cur/text.cur"), 			   text; }
.cursor  + .move		{cursor:url("cur/move.cur"), 			   move; }
/* --- */

/* Content */
.gridBody {
		display: grid;
	display: -ms-grid;
	vertical-align: top;
		grid-gap: 0.625em;
	grid-template-columns: 80% 15%;
		 -ms-grid-columns: 80% 15%;
	grid-template-rows: 100% 100%;
		 -ms-grid-rows: 100% 100%;
	padding: 0;
	-ms-flex-line-pack: center;
		align-content: center;
	margin: -15em 15vw auto 15vw;
	-ms-background-attachment: fixed;
		background-attachment: fixed;
	min-height: 100%;
}

.side {
	display: -webkit-box;
	display: -ms-flexbox;
		   display: flex;
	 -webkit-box-direction: normal;
	  -webkit-box-orient: vertical;
		-ms-flex-direction: column;
			flex-direction: column;
	vertical-align: top;
	-ms-grid-row: 1;
		grid-row: 1;
	-ms-grid-column: 2;
		grid-column: 2;
	padding-left: 1em;
}
 
.sideObject {
	padding: 0.5em 0 0.5em 0;
	vertical-align: top;
	margin-bottom: 2em;
}

	.sideObject button {padding: .7em;}

	.sideObject p {margin: 5px 0 0 0;}

.tabContent {
	width: 100%;
	-webkit-animation: fading .3s; 
			animation: fading .3s;
	padding: 0 0.625em;
	margin-top: -1.5em;
	vertical-align: top;
	-ms-grid-row: 1;
		grid-row: 1;
	-ms-grid-column: 1;
		grid-column: 1;
}

.tabContent .show {display: block !important;}
/* --- */


/* Buttons */
button {
	-webkit-box-shadow: 0.2em 0.2em 10px rgba(0,0,0,0.5);
			box-shadow: 0.2em 0.2em 10px rgba(0,0,0,0.5);
	-ms-outline: 0;
	outline: 0;
	padding: 0.75%;
	margin: 0;
	background: transparent;
	border: none;
	-ms-border-image-slice: 0 7 7 7 fill;
	 -o-border-image-slice: 0 7 7 7 fill;
		border-image-slice: 0 7 7 7 fill;
	-ms-border-image-width: 0 7px 7px 7px;
	 -o-border-image-width: 0 7px 7px 7px;
		border-image-width: 0 7px 7px 7px;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	-webkit-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	background: url("img/buttonIdle.png") no-repeat center center fixed;
	background-size: cover;
	-ms-border-image-source: url("img/buttonIdle.png");
	 -o-border-image-source: url("img/buttonIdle.png");
		border-image-source: url("img/buttonIdle.png");
}

button:hover {
	-webkit-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
	background: url("img/buttonHover.png") no-repeat center center fixed;
	background-size: cover;
	-ms-border-image-source: url("img/buttonHover.png");
	 -o-border-image-source: url("img/buttonHover.png");
		border-image-source: url("img/buttonHover.png");
}

button:active {
	-webkit-box-shadow: none;
			box-shadow: none;
	background: url("img/buttonPressed.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
	-ms-border-image-source: url("img/buttonPressed.png");
	 -o-border-image-source: url("img/buttonPressed.png");
		border-image-source: url("img/buttonPressed.png");
}
/* --- */


/* Footer */
footer {
	color: black;
	background: #c8d4e7;
	background: rgba(200, 212, 231, .90);
	vertical-align: bottom;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 10px;
	text-align: center;
}
/* --- */