/* Import Fonts  */
/* Light */
@font-face { font-family: Selawik; font-style: normal; font-weight: 200;
	src: url("font/selawkl.woff2") format("woff2"),
		 url("font/selawkl.eot") format("embedded-opentype");
}

/* Semilight */
@font-face { font-family: Selawik; font-style: normal; font-weight: 300;
	src: url("font/selawksl.woff2") format("woff2"),
		 url("font/selawksl.eot") format("embedded-opentype");
}

/* Normal */
@font-face { font-family: Selawik; font-style: normal; font-weight: 400;
	src: url("font/selawk.woff2") format("woff2"),
		 url("font/selawk.eot") format("embedded-opentype");
}

/* Semibold */
@font-face { font-family: Selawik; font-style: normal; font-weight: 600;
	src: url("font/selawksb.woff2") format("woff2"),
		 url("font/selawksb.eot") format("embedded-opentype");
}

/* Bold */
@font-face { font-family: Selawik; font-style: normal; font-weight: 700;
	src: url("font/selawkb.woff2") format("woff2"),
		 url("font/selawkb.eot") format("embedded-opentype");
}

* {font-family: "Selawik", "Segoe UI";}
/* --- */

/* Remove X Overflow */ 
html, body { overflow-x: hidden; min-height: 100%; }
/* --- */

/* Animation */
@-webkit-keyframes fading {
	0%   { opacity: 0 }
	50%  { opacity: 1 }
	100% { opacity: 1 }
}

@keyframes fading {
	0%   { opacity: 0 }
	50%  { opacity: 1 }
	100% { opacity: 1 }
}

.right{
	-webkit-animation: animationRight linear 25 alternate;
			animation: animationRight linear 25 alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.right2{
	-webkit-animation: animationRight2 linear 10s alternate;
			animation: animationRight2 linear 10s alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@-webkit-keyframes animationRight {
  0% {-webkit-transform: translate(0rem,0rem) scaleX(1.00);transform: translate(0rem,0rem) scaleX(1.00);}
  100% {-webkit-transform: translate(12.5rem,0rem) scaleX(1.25) ;transform: translate(12.5rem,0rem) scaleX(1.25);}
}

@keyframes animationRight {
  0% {-webkit-transform: translate(0rem,0rem) scaleX(1.00);transform: translate(0rem,0rem) scaleX(1.00);}
  100% {-webkit-transform: translate(12.5rem,0rem) scaleX(1.25) ;transform: translate(12.5rem,0rem) scaleX(1.25);}
}

@-webkit-keyframes animationRight2 {
  0% {-webkit-transform: translate(0rem,0rem) scaleX(1) ;transform: translate(0rem,0rem) scaleX(1);}
  100% {-webkit-transform: translate(12.5rem,0rem) scaleX(1.15) ;transform: translate(12.5rem,0rem) scaleX(1.15);}
}

@keyframes animationRight2 {
  0% {-webkit-transform: translate(0rem,0rem) scaleX(1) ;transform: translate(0rem,0rem) scaleX(1);}
  100% {-webkit-transform: translate(12.5rem,0rem) scaleX(1.15) ;transform: translate(12.5rem,0rem) scaleX(1.15);}
}

.left {
	-webkit-animation: animationLeft linear 10s alternate;
			animation: animationLeft linear 10s alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.left2 {
	-webkit-animation: animationLeft2 linear 25s alternate;
			animation: animationLeft2 linear 25s alternate;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

@-webkit-keyframes animationLeft {
	0% {-webkit-transform: translate(0rem,0rem) scaleX(1);transform: translate(0rem,0rem) scaleX(1);}
	100% {-webkit-transform: translate(-12.5rem,0rem) scaleX(1.25);transform: translate(-12.5rem,0rem) scaleX(1.25);}
}

@keyframes animationLeft {
	0% {-webkit-transform: translate(0rem,0rem) scaleX(1);transform: translate(0rem,0rem) scaleX(1);}
	100% {-webkit-transform: translate(-12.5rem,0rem) scaleX(1.25);transform: translate(-12.5rem,0rem) scaleX(1.25);}
}

@-webkit-keyframes animationLeft2 {
	0% {-webkit-transform: translate(0rem,0rem) scaleX(1);transform: translate(0rem,0rem) scaleX(1);}
	100% {-webkit-transform: translate(-12.5rem,0rem) scaleX(1.8);transform: translate(-12.5rem,0rem) scaleX(1.8);}
}

@keyframes animationLeft2 {
	0% {-webkit-transform: translate(0rem,0rem) scaleX(1);transform: translate(0rem,0rem) scaleX(1);}
	100% {-webkit-transform: translate(-12.5rem,0rem) scaleX(1.8);transform: translate(-12.5rem,0rem) scaleX(1.8);}
}

@-webkit-keyframes slideDown {
	0%   {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 4rem;
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 17.55rem;
	}
}

@keyframes slideDown {
	0% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 4rem;
	}
	100% {
		-webkit-transform: translateY(0%);
				transform: translateY(0%);
		height: 17.55rem;
	}

}
/* --- */

/* Hamburger */
.burgerButton {
	display: inline-block;
	position: relative;
	top: 0.6em;
	left: 1.5rem;
	border-radius: 1em;
	cursor: pointer;
}

	.burgerButton:hover .bar1 { background-color: white; }
	.burgerButton:hover .bar2 { background-color: white; }
	.burgerButton:hover .bar3 { background-color: white; }

	.bar1, .bar2, .bar3 {
		width: 1.5em;
		height: 0.125rem;
		background-color: #8cb5f7;
		margin: 0.313rem 0;
		-webkit-transition: 0.3s;
			 -o-transition: 0.3s;
				transition: 0.3s;
		border-radius: 1em;
		-webkit-box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #375f98;
				box-shadow: 0.05rem 0.05rem 0.05rem 0.05rem #375f98;
	}
	
	.change .bar1 {
		width: 1.5em;
		background-color: #8cb5f7;
		-webkit-transform: rotate(-45deg) translate(-0.375rem, 0.25rem);
		-ms-transform: rotate(-45deg) translate(-0.375rem, 0.25rem);
			transform: rotate(-45deg) translate(-0.375rem, 0.25rem);
		-webkit-box-shadow: 0 0 0 0 #375f98;
				box-shadow: 0 0 0 0 #375f98;
	}

	.change .bar2 { opacity: 0; background-color: #8cb5f7; width: 1.5em; }

	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-0.375rem, -0.25rem);
			-ms-transform: rotate(45deg) translate(-0.375rem, -0.25rem);
				transform: rotate(45deg) translate(-0.375rem, -0.25rem);
		background-color: #8cb5f7;
		width: 1.5em;
		-webkit-box-shadow: 0 0 0 0 #375f98;
				box-shadow: 0 0 0 0 #375f98;
	}
/* --- */


/* Modifiers */
.q { font-size: 110%; line-height: 1.5em; font-weight: 600; }
.a { padding-left: 2em; line-height: 1.5em; }

.disabled {
	opacity: 0.6;
	pointer-events: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.customMargin { margin: -1em 0; }
/* --- */

/* Aurora Panel */
.bodyBG {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 10em;
	text-align: center;
}
 
.aurora {
	position: absolute;
	width: 100%;
	vertical-align: middle; 
	height: 15em;
	overflow-x: hidden;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
	right: 1rem;
	z-index: 0;
}

.logo { 
	z-index: 1000;
	min-width: 100%;
	text-align: center;
	position: relative;
	bottom: 10em;
	z-index: 100;
	font-weight: 600; 
}
	.logo .image { width: 5rem; height: 6.5rem; vertical-align: middle; }

	.logo .text { font-size: 3em; vertical-align: middle; }
/* --- */


/* Menu */
.mobileLogo { display: none; }

.headerSpace { height: 6em; }

.headerBackground {
	background: #6fb0f3 url('img/headerBackground.svg');
	background: -webkit-linear-gradient(right, #4D88D5 8%, #5E99E3 25%, #70b0f3 45%, #70b0f3 60%, #5E99E3 75%, #4D88D5 92%);
		 background: -o-linear-gradient(right, #4D88D5 8%, #5E99E3 25%, #70b0f3 45%, #70b0f3 60%, #5E99E3 75%, #4D88D5 92%);
		  background: linear-gradient(to left, #4D88D5 8%, #5E99E3 25%, #70b0f3 45%, #70b0f3 60%, #5E99E3 75%, #4D88D5 92%);
	-webkit-box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.19), 0 0.375rem 0.375rem rgba(0,0,0,0.23);
		box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.19), 0 0.375rem 0.375rem rgba(0,0,0,0.23);
	position: fixed;
	z-index: 42069;
	padding: 0;
	height: 6em;
	vertical-align: top;
	width: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}
 
.title {
	position: relative;
	bottom: 2.5rem;
	height: 1rem;
	font-size: 1.2em;
	color: white;
	vertical-align: center;
	text-align: center;
}

.headerBackground .burgerButton {opacity: 0; pointer-events: none;}

.menuBar {
	background: #3669af url('img/menuBar.svg');
	background: -webkit-linear-gradient(left, #3669af 1%,#5f9cda 50%,#3669af 100%);
		 background: -o-linear-gradient(left, #3669af 1%,#5f9cda 50%,#3669af 100%);
		background: linear-gradient(to right, #3669af 1%,#5f9cda 50%,#3669af 100%);
	text-align: center;
	position: relative;
	bottom: 2.3rem;
	-ms-flex-item-align: end;
		align-self: flex-end;
	min-width: 100%;
	min-height: 3rem;
	overflow: auto;
	z-index: 69420;
	border-radius: 1rem 1rem 0 0;
	-ms-border-image-slice: 20 10 0 10 fill;
	 -o-border-image-slice: 20 10 0 10 fill;
		border-image-slice: 20 10 0 10 fill;
	-ms-border-image-width: 1.25rem 0.625rem 0 0.625rem;
	 -o-border-image-width: 1.25rem 0.625rem 0 0.625rem;
		border-image-width: 1.25rem 0.625rem 0 0.625rem;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	-ms-border-image-source: url("img/menuBar.jpg");
	 -o-border-image-source: url("img/menuBar.jpg");
		border-image-source: url("img/menuBar.jpg");
}

	.menuBar a.button {
		display: inline-block;
		height: 1.75em;
		padding: 0.9rem 5%;
		font-size: 0.85em;
		line-height: 1.75em;
		text-align: center;
		color: white;
		text-decoration: none;
		transition: all 0.125s ease;
		-webkit-box-shadow: none;
				box-shadow: none;
		-webkit-animation: fading 0.3s ease;
				animation: fading 0.3s ease;
		-webkit-transition: all 0.3s ease;
			 -o-transition: all 0.3s ease;
				transition: all 0.3s ease;
		background: url("img/menuBarButton.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/menuBarButton.png");
		 -o-border-image-source: url("img/menuBarButton.png");
			border-image-source: url("img/menuBarButton.png");
	}

	.menuBar a.button:hover {
		-webkit-animation: fading 0.125s ease;
				animation: fading 0.125s ease;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-slice: 0 7 7 7 fill;
		 -o-border-image-slice: 0 7 7 7 fill;
			border-image-slice: 0 7 7 7 fill;
		-ms-border-image-width: 0 0.438rem 0.438rem 0.438rem;
		 -o-border-image-width: 0 0.438rem 0.438rem 0.438rem;
			border-image-width: 0 0.438rem 0.438rem 0.438rem;
		-ms-border-image-outset: 0 0 0 0;
		 -o-border-image-outset: 0 0 0 0;
			border-image-outset: 0 0 0 0;
		-ms-border-image-repeat: stretch stretch;
		 -o-border-image-repeat: stretch stretch;
			border-image-repeat: stretch stretch;
		background: url("img/menuBarButton_hover.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/menuBarButton_hover.png");
		 -o-border-image-source: url("img/menuBarButton_hover.png");
			border-image-source: url("img/menuBarButton_hover.png");
	}

	.menuBar a.button:active {
		-webkit-animation: fading 0.125s ease;
				animation: fading 0.125s ease;
		background: url("img/menuBarButton_pressed.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/menuBarButton_pressed.png");
		 -o-border-image-source: url("img/menuBarButton_pressed.png");
			border-image-source: url("img/menuBarButton_pressed.png");
	}

	.menuBar a.button.disabled {
		text-align: center;
		box-shadow: none;
		opacity: 0.6;
		background: url("img/menuBarButton.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/menuBarButton.png");
		 -o-border-image-source: url("img/menuBarButton.png");
			border-image-source: url("img/menuBarButton.png");
	}
/* --- */


/* Body */
body {
	background: #C8D4E7 url('img/background.svg') repeat-x top center fixed;
	margin: 0;
	padding: 0;
	background: -webkit-linear-gradient(white, #C8D4E7);
		 background: -o-linear-gradient(white, #C8D4E7);
			background: linear-gradient(white, #C8D4E7);
}
/* --- */


/* Cursors (why not lol) */
.cursor  + .def			{cursor:url("cur/def.cur"), 			   auto; }
.cursor  + .ew-resize	{cursor:url("cur/ew-resize.cur"), 	  ew-resize; }
.cursor  + .help		{cursor:url("cur/help.cur"), 			   help; }
.cursor  + .nesw-resize {cursor:url("cur/nesw-resize.cur"), nesw-resize; }
.cursor  + .disabled	{cursor:url("cur/not-allowed.cur"), not-allowed; }
.cursor  + .n-resize	{cursor:url("cur/n-resize.cur"), 	   n-resize; }
.cursor  + .ns-resize	{cursor:url("cur/ns-resize.cur"), 	  ns-resize; }
.cursor  + .nwse-resize {cursor:url("cur/nwse-resize.cur"), nwse-resize; }
.cursor  + .pointer		{cursor:url("cur/pointer.cur"), 		pointer; }
.cursor  + .text		{cursor:url("cur/text.cur"), 			   text; }
.cursor  + .move		{cursor:url("cur/move.cur"), 			   move; }
/* --- */

/* Content */
.gridBody {
	position: relative;
	z-index: 100;
	bottom: 13rem;
	margin: 0 10%;
		display: grid;
	display: -ms-grid;
	vertical-align: top;
		grid-gap: 0.625rem;
	grid-template-columns: 80% 15%;
		 -ms-grid-columns: 80% 15%;
	grid-template-rows: 100% 100%;
		 -ms-grid-rows: 100% 100%;
	padding: 0;
	-ms-flex-line-pack: center;
		align-content: center;
	min-height: 100%;
}

.side {
	display: -webkit-box;
	display: -ms-flexbox;
		   display: flex;
	 -webkit-box-direction: normal;
	  -webkit-box-orient: vertical;
		-ms-flex-direction: column;
			flex-direction: column;
	vertical-align: top;
	-ms-grid-row: 1;
		grid-row: 1;
	-ms-grid-column: 2;
		grid-column: 2;
	padding-left: 1rem;
}

.side .sideObject { position: relative; bottom: 1.5rem; }

.sideObject { padding: 0.5rem 0; vertical-align: top; margin-bottom: 2rem; }

	.sideObject a { margin-top: 0.5rem; }

	.sideObject p { margin: 0.313rem 0 0 0; }


.tabContent {
	width: 100%;
	-webkit-animation: fading .3s; 
			animation: fading .3s;
	padding: 0 0.625rem;
	vertical-align: top;
	-ms-grid-row: 1;
		grid-row: 1;
	-ms-grid-column: 1;
		grid-column: 1;
}

.tabContent .show {display: block;}

.no-cssgrid .gridBody { display: table; }

.no-cssgrid .tabContent { display: table-cell; width: 80%; }

.no-cssgrid .side { display: table-cell; width: 15%; }
/* --- */


/* Buttons */
a.button {
	-webkit-box-shadow: 0.2rem 0.2rem 0.625rem rgba(0,0,0,0.5);
			box-shadow: 0.2rem 0.2rem 0.625rem rgba(0,0,0,0.5);
	-ms-outline: 0;
		outline: 0;
	white-space: nowrap; 
	display: inline-block;
	height: 1.75em;
	padding: 0.5rem 0.65rem;
	font-size: 0.85rem;
	line-height: 1.75em;
	vertical-align: center;
	text-align: center;
	color: black;
	text-decoration: none;
	-webkit-user-select: none; 
	   -moz-user-select: none;
		-ms-user-select: none; 
			user-select: none;
	background: url("img/buttonIdle.png") no-repeat center;
	-webkit-background-size: 100% 100%;
	   -moz-background-size: 100% 100%;
		 -o-background-size: 100% 100%;
			background-size: 100% 100%;
	-ms-border-image-slice: 7 7 7 7 fill;
	 -o-border-image-slice: 7 7 7 7 fill;
		border-image-slice: 7 7 7 7 fill;
	-ms-border-image-width: 0.438rem 0.438rem 0.438rem 0.438rem;
	 -o-border-image-width: 0.438rem 0.438rem 0.438rem 0.438rem;
		border-image-width: 0.438rem 0.438rem 0.438rem 0.438rem;
	-ms-border-image-outset: 0 0 0 0;
	 -o-border-image-outset: 0 0 0 0;
		border-image-outset: 0 0 0 0;
	-ms-border-image-repeat: stretch stretch;
	 -o-border-image-repeat: stretch stretch;
		border-image-repeat: stretch stretch;
	-webkit-transition: all 0.75s ease;
		 -o-transition: all 0.75s ease;
			transition: all 0.75s ease;
	-ms-border-image-source: url("img/buttonIdle.png");
	 -o-border-image-source: url("img/buttonIdle.png");
		border-image-source: url("img/buttonIdle.png");
}

	a.button:hover {
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		background: url("img/buttonHover.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/buttonHover.png");
		 -o-border-image-source: url("img/buttonHover.png");
			border-image-source: url("img/buttonHover.png");
	}

	a.button:active {
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-webkit-box-shadow: none;
				box-shadow: none;
		background: url("img/buttonPressed.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/buttonPressed.png");
		 -o-border-image-source: url("img/buttonPressed.png");
			border-image-source: url("img/buttonPressed.png");
	}

	a.button.disabled {
		-webkit-box-shadow: 0.2rem 0.2rem 0.625em rgba(0,0,0,0.5);
				box-shadow: 0.2rem 0.2rem 0.625em rgba(0,0,0,0.5);
		background: url("img/buttonDisabled.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		-ms-border-image-source: url("img/buttonDisabled.png");
		 -o-border-image-source: url("img/buttonDisabled.png");
			border-image-source: url("img/buttonDisabled.png");	
		opacity: 1;
	}

/* --- */


/* Radio and Checkboxes */
input[type=checkbox] {
	display:none;
}

	input[type=checkbox] + label {
		background: url("img/checkbox.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		height: 1rem;
		width: 1rem;
		display: inline-block;
		padding: 0;
		-webkit-transition: all 0.75s ease;
			 -o-transition: all 0.75s ease;
				transition: all 0.75s ease;
		-ms-border-image-slice: 1 1 1 1 fill;
		 -o-border-image-slice: 1 1 1 1 fill;
			border-image-slice: 1 1 1 1 fill;
		-ms-border-image-width: 0.063rem 0.063rem 0.063rem 0.063rem;
		 -o-border-image-width: 0.063rem 0.063rem 0.063rem 0.063rem;
			border-image-width: 0.063rem 0.063rem 0.063rem 0.063rem;
		-ms-border-image-outset: 0 0 0 0;
		 -o-border-image-outset: 0 0 0 0;
			border-image-outset: 0 0 0 0;
		-ms-border-image-repeat: stretch stretch;
		 -o-border-image-repeat: stretch stretch;
			border-image-repeat: stretch stretch;
		-ms-border-image-source: url("img/checkbox.png");
		 -o-border-image-source: url("img/checkbox.png");
			border-image-source: url("img/checkbox.png");
	}

	input[type=checkbox]:hover + label {
		background: url("img/checkboxHover.png") no-repeat center;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-source: url("img/checkboxHover.png");
		 -o-border-image-source: url("img/checkboxHover.png");
			border-image-source: url("img/checkboxHover.png");
	}

	input[type=checkbox]:checked + label {
		background: url("img/checkboxChecked.png") no-repeat center;
		-webkit-transition: all 0.75s ease;
			 -o-transition: all 0.75s ease;
				transition: all 0.75s ease;
		-ms-border-image-source: url("img/checkboxChecked.png");
		 -o-border-image-source: url("img/checkboxChecked.png");
			border-image-source: url("img/checkboxChecked.png");
	}

	input[type=checkbox]:hover:checked + label {
		background: url("img/checkboxCheckedHover.png") no-repeat center;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-source: url("img/checkboxCheckedHover.png");
		 -o-border-image-source: url("img/checkboxCheckedHover.png");
			border-image-source: url("img/checkboxCheckedHover.png");
	}

input[type=radio] { display:none; }

	input[type=radio] + label {
		background: url("img/checkbox.png") no-repeat center;
		-webkit-background-size: 100% 100%;
		   -moz-background-size: 100% 100%;
			 -o-background-size: 100% 100%;
				background-size: 100% 100%;
		height: 1rem;
		width: 1rem;
		display: inline-block;
		padding: 0;
		-webkit-transition: all 0.75s ease;
			 -o-transition: all 0.75s ease;
				transition: all 0.75s ease;
		-ms-border-image-slice: 0 1 1 1 fill;
		 -o-border-image-slice: 0 1 1 1 fill;
			border-image-slice: 0 1 1 1 fill;
		-ms-border-image-width: 0 0.063rem 0.063rem 0.063rem;
		 -o-border-image-width: 0 0.063rem 0.063rem 0.063rem;
			border-image-width: 0 0.063rem 0.063rem 0.063rem;
		-ms-border-image-outset: 0 0 0 0;
		 -o-border-image-outset: 0 0 0 0;
			border-image-outset: 0 0 0 0;
		-ms-border-image-repeat: stretch stretch;
		 -o-border-image-repeat: stretch stretch;
			border-image-repeat: stretch stretch;
		-ms-border-image-source: url("img/checkbox.png");
		 -o-border-image-source: url("img/checkbox.png");
			border-image-source: url("img/checkbox.png");
	}

	input[type=radio]:hover + label {
		background: url("img/checkboxHover.png") no-repeat center;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-source: url("img/checkboxHover.png");
		 -o-border-image-source: url("img/checkboxHover.png");
			border-image-source: url("img/checkboxHover.png");
	}

	input[type=radio]:checked + label {
		background: url("img/radioChecked.png") no-repeat center;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-source: url("img/radioChecked.png");
		 -o-border-image-source: url("img/radioChecked.png");
			border-image-source: url("img/radioChecked.png");
	}

	input[type=radio]:hover:checked + label {
		background: url("img/radioCheckedHover.png") no-repeat center;
		-webkit-transition: all 0.125s ease;
			 -o-transition: all 0.125s ease;
				transition: all 0.125s ease;
		-ms-border-image-source: url("img/radioCheckedHover.png");
		 -o-border-image-source: url("img/radioCheckedHover.png");
			border-image-source: url("img/radioCheckedHover.png");
	}
/* --- */


/* Mobile Ajustments */
@media screen and (max-width: 62.5rem) { .gridBody { margin: 0; } }

@media all and (max-width: 50.75rem) {
	.gridBody {
		-ms-grid-columns: auto auto;
			grid-template-columns: auto auto;
		-ms-grid-rows: 100%;
			grid-template-rows: 100%;
	}

	.side {
		-ms-grid-row: 2;
			grid-row: 2;
		-ms-grid-column: 1;
			grid-column: 1;
	}
}

@media screen and (max-width: 37.5rem) {
	.headerBackground .responsive {
		position: relative; 
		overflow: hidden;
		-webkit-animation: 0.3s slideDown ease;
				animation: 0.3s slideDown ease;
	}

	.headerBackground .burgerButton { pointer-events: visible; cursor: pointer; opacity: 1; }

	.headerBackground .responsive a { display: inline-block; width: 100%; padding: 1rem 0; }

	.title { visibility: hidden; }

	.title:after {
		content: "Start9";
		visibility: visible;
		right: 1.5rem;
		position: relative;
	}

	.no-cssgrid .gridBody { display: initial; }

	.no-cssgrid .tabContent { display: initial; width: auto; }

	.no-cssgrid .side { display: block; width: auto; }
}
/* --- */


/* Footer */
footer {
	color: black;
	background: #c8d4e7;
	background: rgba(200, 212, 231, 0.9);
	vertical-align: bottom;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 0.7rem;
	text-align: center;
}
/* --- */