/* Light */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 200;
	src: url("selawkl.woff2") format("woff2"),
		 url("selawkl.woff") format("woff"),
		 url("selawkl.svg") format("svg"),
		 url("selawkl.ttf") format("truetype"),
		 url("selawkl.eot") format("embedded-opentype");
}

/* Semilight */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 300;
	src: url("selawksl.woff2") format("woff2"),
		 url("selawksl.woff") format("woff"),
		 url("selawksl.svg") format("svg"),
		 url("selawksl.ttf") format("truetype"),
		 url("selawksl.eot") format("embedded-opentype");
}

/* Normal */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 400;
	src: url("selawk.woff2") format("woff2"),
		 url("selawk.woff") format("woff"),
		 url("selawk.svg") format("svg"),
		 url("selawk.ttf") format("truetype"),
		 url("selawk.eot") format("embedded-opentype");
}

/* Semibold */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 600;
	src: url("selawksb.woff2") format("woff2"),
		 url("selawksb.woff") format("woff"),
		 url("selawksb.svg") format("svg"),
		 url("selawksb.ttf") format("truetype"),
		 url("selawksb.eot") format("embedded-opentype");
}

/* Bold */
@font-face {
	font-family: Selawik;
	font-style: normal;
	font-weight: 700;
	src: url("selawkb.woff2") format("woff2"),
		 url("selawkb.woff") format("woff"),
		 url("selawkb.svg") format("svg"),
		 url("selawkb.ttf") format("truetype"),
		 url("selawkb.eot") format("embedded-opentype");
}