---
layout: default
type: one-box fade-in post
---
<article>
	<div class="skip-target" id="maincontent"></div>
	<h1 style="margin: 0;">{{page.title}}</h1>
	<em>by</em> <strong>{{ page.author }}</strong>, {{ page.date | date: "%d %B %Y" }}
	<br>
	{{ content }}
</article>

<div class="post-nav">
	{% if page.previous.url %}
	<a class="prev delaylink" onclick="fadeOutLeft();" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	{% endif %}
	{% if page.next.url %}
	<a class="next delaylink" onclick="fadeOutRight();" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	{% endif %}
</div>

{% include photoswipe.html %}